{% extends "eezeecommerceAdminBundle::layout.html.twig" %}

{% block title %}Staff Panel | Add New Currency - Eezee Commerce Ltd Ecommerce Platform{% endblock title %}

{% set super_route = "settings" %}

    {% block content %}
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="{{ path("_eezeecommerce_admin_homepage") }}">Dashboard</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <i class="fa fa-cogs"></i>
                    <a href="{{ path("_eezeecommerce_admin_settings_general") }}">Settings</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <i class="fa fa-user"></i>
                    <a href="#">Currency and Exchange Rates</a>
                    <i class="fa fa-angle-right"></i>
                </li>
            </ul>
        </div>
        <h3 class="page-title">
            Add Currency / Exchange Rate
        </h3>
        {{ form_start(form) }}
        <div class="row">
            <div class="col-md-12">
                <div class="portlet light">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-cogs"></i>Exchange Rate Details
                        </div>
                    </div>
                    <div class="portlet-body form">
                        <div class="form-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group col-md-12">
                                        {{ form_label(form.currency_code, "Currency Code", {"label_attr" : {"class": "control-label col-md-3"} }) }}
                                        <div class="col-md-9">
                                            {{ form_errors(form.currency_code) }}
                                            {{ form_widget(form.currency_code) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group col-md-12">
                                        {{ form_label(form.exchange_rate, "Exchange Rate", {"label_attr" : {"class": "control-label col-md-3"} }) }}
                                        <div class="col-md-9">
                                            {{ form_errors(form.exchange_rate) }}
                                            {{ form_widget(form.exchange_rate) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{ form_end(form) }}
    {% endblock content %}