{% extends "eezeecommerceAdminBundle::layout.html.twig" %}

{% block title %}Staff Panel | View Currencies - Eezee Commerce Ltd Ecommerce Platform{% endblock title %}

{% set super_route = "settings" %}

    {% block content %}
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="{{ path("_eezeecommerce_admin_homepage") }}">Dashboard</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <i class="fa fa-cogs"></i>
                    <a href="{{ path("_eezeecommerce_admin_settings_general") }}">Settings</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <i class="fa fa-cog"></i>
                    <a href="#">Currencies</a>
                </li>
            </ul>
        </div>
        <h3 class="page-title">
            Currencies and Exchange Rates
        </h3>
        <div class="row">
            <div class="col-md-12">
                <div class="portlet box grey-cascade">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-globe"></i>Currencies List
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="table-toolbar">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="btn-group">
                                        <a href="{{ path('_eezeecommerce_admin_settings_currencies_add') }}">
                                            <button id="sample_editable_1_new" class="btn green">
                                                Add New Exchange Rate <i class="fa fa-plus"></i>
                                            </button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <table class="table table-striped table-responsive table-bordered table-hover table-checkable order-column no-footer" id="product-table">
                            <thead>
                                <tr>
                                    <th>
                                        <input type="checkbox" class="group-checkable" data-set="#product_table .checkboxes"/>
                                    </th>
                                    <th>
                                        Currency Code
                                    </th>
                                    <th>
                                        Exchange Rate
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in currencies %}
                                    <tr>
                                        <td>
                                            <input type="checkbox" class="checkboxes" value="1" />
                                        </td>
                                        <td>
                                            <a href="{{ path("_eezeecommerce_admin_settings_currencies_modify", {"id": item.id }) }}">
                                                {{ item.currencyCode }}
                                            </a>
                                        </td>
                                        <td>
                                            {{ item.exchangeRate }}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    {% endblock content %}