{% extends "eezeecommerceAdminBundle::master.html.twig" %}

{% block head %}
    <!-- Basic -->
    <meta charset="UTF-8">

    <title>{% block title %}{% endblock title %}</title>
    <meta name="description" content="{% block description %}{% endblock description %}">
    <meta name="author" content="https://www.eezeecommerce.com">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <!-- Web Fonts  -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,&subset=all" rel="stylesheet" type="text/css">

    {% stylesheets
        '@eezeecommerceAdminBundle/Resources/public/vendor/font-awesome/css/font-awesome.min.css' filter="?cssrewrite"
        '@eezeecommerceAdminBundle/Resources/public/vendor/simple-line-icons/simple-line-icons.css' filter="?cssrewrite"
        '@eezeecommerceAdminBundle/Resources/public/vendor/bootstrap/css/bootstrap.min.css' filter="?cssrewrite"
        '@eezeecommerceAdminBundle/Resources/public/vendor/uniform/css/uniform.default.css' filter="?cssrewrite"
        '@eezeecommerceAdminBundle/Resources/public/vendor/bootstrap-switch/css/bootstrap-switch.min.css' filter="?cssrewrite"

        '@eezeecommerceAdminBundle/Resources/public/css/components-rounded.css' filter="?cssrewrite"
        '@eezeecommerceAdminBundle/Resources/public/css/plugins.css' filter="?cssrewrite"
        '@eezeecommerceAdminBundle/Resources/public/css/layout.css' filter="?cssrewrite"
        '@eezeecommerceAdminBundle/Resources/public/css/themes/grey.css' filter="?cssrewrite"
        '@eezeecommerceAdminBundle/Resources/public/css/custom.css' filter="?cssrewrite"

        '@eezeecommerceAdminBundle/Resources/public/css/timeline.css' filter="?cssrewrite"
        '@eezeecommerceAdminBundle/Resources/public/vendor/bootstrap-wysihtml5/bootstrap-wysihtml5.css' filter="?cssrewrite"
        '@eezeecommerceAdminBundle/Resources/public/vendor/bootstrap-markdown/css/bootstrap-markdown.min.css' filter="?cssrewrite"
        '@eezeecommerceAdminBundle/Resources/public/vendor/bootstrap-summernote/summernote.css' filter="?cssrewrite"
        '@eezeecommerceAdminBundle/Resources/public/vendor/icheck/skins/all.css' filter="?cssrewrite"

    %}
    <link href="{{ asset_url }}" rel="stylesheet">
    {% endstylesheets %}

    <style>
        .navmenu-nav.dropdown-menu {position:relative!important;}
    </style>

    {% block extrastylesheets %}
    {% endblock extrastylesheets %}

{% endblock head %}

{% block body %}
    {% include "eezeecommerceAdminBundle:Menus:navbar.html.twig" %}
    <div class="clearfix">
    </div>
    <div class="page-container">
        {{ render(controller("eezeecommerceAdminBundle:Menu:getAdminMenu")) }}

        <div class="page-content-wrapper">
            <div class="page-content">

                {% for flash_message in app.session.flashbag.get('notice') %}
                    <div class="row">
                        <div class="col-md-12">
                            <div class="alert alert-info text-center">
                                {{ flash_message }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
                {% if errors is defined %}
                    {% for error in errors %}
                        <div class="row">
                            <div class="col-md-12">
                                <div class="alert alert-warning text-center">
                                    {{ error.message }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
                {% for flash_message in app.session.flashbag.get('warning') %}
                    <div class="row">
                        <div class="col-md-12">
                            <div class="alert alert-warning text-center">
                                {{ flash_message }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
                {% for flash_message in app.session.flashbag.get('danger') %}
                    <div class="row">
                        <div class="col-md-12">
                            <div class="alert alert-danger text-center">
                                {{ flash_message }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
                {% for flash_message in app.session.flashbag.get('success') %}
                    <div class="row">
                        <div class="col-md-12">
                            <div class="alert alert-success text-center">
                                {{ flash_message }}
                            </div>
                        </div>
                    </div>
                {% endfor %}

                {% block content %}

                {% endblock content %}
            </div>
        </div>
    </div>
{% endblock body %}

{% block footer %}
    <div class="page-footer">
        <div class="page-footer-inner center">
            <a href="//www.eezeecommerce.com" target="_blank" style="color:#a1b2cf;">
                Copyright &copy; {{ "now"|date("Y") }} Eezee Commerce Ltd. All rights reserved.
            </a>
        </div>
    </div>

    {% javascripts 
        '@eezeecommerceAdminBundle/Resources/public/vendor/jquery.min.js'
        '@eezeecommerceAdminBundle/Resources/public/vendor/jquery-migrate.min.js'
        '@eezeecommerceAdminBundle/Resources/public/vendor/jquery-ui/jquery-ui.min.js'
        '@eezeecommerceAdminBundle/Resources/public/vendor/bootstrap/js/bootstrap.min.js'
        '@eezeecommerceAdminBundle/Resources/public/vendor/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js'
        '@eezeecommerceAdminBundle/Resources/public/vendor/jquery-slimscroll/jquery.slimscroll.min.js'
        '@eezeecommerceAdminBundle/Resources/public/vendor/jquery.blockui.min.js'
        '@eezeecommerceAdminBundle/Resources/public/vendor/jquery.cokie.min.js'
        '@eezeecommerceAdminBundle/Resources/public/vendor/uniform/jquery.uniform.min.js'
        '@eezeecommerceAdminBundle/Resources/public/vendor/bootstrap-wysihtml5/wysihtml5-0.3.0.js'
        '@eezeecommerceAdminBundle/Resources/public/vendor/bootstrap-wysihtml5/bootstrap-wysihtml5.js'
        '@eezeecommerceAdminBundle/Resources/public/vendor/bootstrap-markdown/lib/markdown.js'
        '@eezeecommerceAdminBundle/Resources/public/vendor/bootstrap-markdown/js/bootstrap-markdown.js'
        '@eezeecommerceAdminBundle/Resources/public/vendor/bootstrap-summernote/summernote.min.js'
        '@eezeecommerceAdminBundle/Resources/public/js/metronic.js'
        '@eezeecommerceAdminBundle/Resources/public/js/quick-sidebar.js'
        '@eezeecommerceAdminBundle/Resources/public/js/app.js'
        '@eezeecommerceAdminBundle/Resources/public/js/layout.min.js'
        '@eezeecommerceAdminBundle/Resources/public/js/demo.js'
        '@eezeecommerceAdminBundle/Resources/public/vendor/icheck/icheck.min.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% block scripts %}

    {% endblock scripts %}
{% endblock footer %}