{% extends "eezeecommerceAdminBundle::master.html.twig" %}

{% block head %}
    <!-- Basic -->
    <meta charset="UTF-8">

    <title>{% block title %}{% endblock title %}</title>
    <meta name="keywords" content="{% block keywords %}{% endblock keywords %}" />
    <meta name="description" content="{% block description %}{% endblock description %}">
    <meta name="author" content="https://www.eezeecommerce.com">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <!-- Web Fonts  -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,&subset=all" rel="stylesheet" type="text/css">

    {% stylesheets
        '@eezeecommerceAdminBundle/Resources/public/vendor/font-awesome/css/font-awesome.min.css' filter="?cssrewrite"
        '@eezeecommerceAdminBundle/Resources/public/vendor/simple-line-icons/simple-line-icons.css' filter="?cssrewrite"
        '@eezeecommerceAdminBundle/Resources/public/vendor/bootstrap/css/bootstrap.min.css' filter="?cssrewrite"
        '@eezeecommerceAdminBundle/Resources/public/vendor/uniform/css/uniform.default.css' filter="?cssrewrite"
        '@eezeecommerceAdminBundle/Resources/public/vendor/bootstrap-switch/css/bootstrap-switch.min.css' filter="?cssrewrite"

        '@eezeecommerceAdminBundle/Resources/public/css/components-rounded.min.css' filter="?cssrewrite"
        '@eezeecommerceAdminBundle/Resources/public/css/plugins.css' filter="?cssrewrite"
        '@eezeecommerceAdminBundle/Resources/public/css/layout.css' filter="?cssrewrite"
        '@eezeecommerceAdminBundle/Resources/public/css/themes/grey.css' filter="?cssrewrite"
        '@eezeecommerceAdminBundle/Resources/public/css/custom.css' filter="?cssrewrite"

        '@eezeecommerceAdminBundle/Resources/public/css/timeline.css' filter="?cssrewrite"
        '@eezeecommerceAdminBundle/Resources/public/vendor/bootstrap-wysihtml5/bootstrap-wysihtml5.css' filter="?cssrewrite"
        '@eezeecommerceAdminBundle/Resources/public/vendor/bootstrap-markdown/css/bootstrap-markdown.min.css' filter="?cssrewrite"
        '@eezeecommerceAdminBundle/Resources/public/vendor/bootstrap-summernote/summernote.css' filter="?cssrewrite"

    %}
    <link href="{{ asset_url }}" rel="stylesheet">
    {% endstylesheets %}

    {% block extrastylesheets %}

    {% endblock extrastylesheets %}

{% endblock head %}

{% block body %}
    <div class="page-content-wrapper">
        {% block content %}

        {% endblock content %}
    </div>
{% endblock body %}

{% block footer %}

{% endblock footer %}