<!doctype html>
<html lang="en">
    <head>
        {% block head %}
        {% endblock head %}
    </head>
    <body class="page-header-fixed page-container-bg-solid page-sidebar-closed-hide-logo page-header-fixed-mobile page-footer-fixed1">
        {% block body %}
        {% endblock body %}
        {% block footer %}
        {% endblock footer %}
    </body>
</html>