{% extends "eezeecommerceAdminBundle::layout.html.twig" %}

{% block title %}Staff Panel | View Tax Settings - Eezee Commerce Ltd Ecommerce Platform{% endblock title %}

{% set super_route = "settings" %}

{% block content %}
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="{{ path('_eezeecommerce_admin_homepage') }}">Dashboard</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <i class="fa fa-cog"></i>
                <a href="#">VAT &amp; Taxes Settings</a>
            </li>
        </ul>
    </div>
    <h3 class="page-title">
        VAT &amp; Taxes
    </h3>
    <div class="row">
        {{ form_start(form) }}
        <div class="col-md-8">
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-cogs"></i>VAT &amp; Taxes
                    </div>
                    <div class="tools">
                        <input type="submit" class="btn btn-primary" value="Update" />
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="form-body">
                        <div class="row">
                            <div class="form-group col-md-12">
                                <div class="col-md-9 col-md-offset-1">
                                    {{ form_label(form.inclusive) }}
                                    {{ form_errors(form.inclusive) }}
                                    {{ form_widget(form.inclusive) }}
                                    <span class="help-block">If your product prices include VAT please tick this box. VAT will be calculated with the following formula:<br />
                                        <strong>VAT = (Tax rate * Price) / (1 + Tax rate)</strong><br />
                                        For example: An item costing £1.00 with VAT inclusive will be calculated at £0.17 (rounded)
                                    </span>
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <div class="col-md-9 col-md-offset-1">
                                    {{ form_label(form.shipping_inclusive) }}
                                    {{ form_errors(form.shipping_inclusive) }}
                                    {{ form_widget(form.shipping_inclusive) }}
                                    <span class="help-block">If your shipping service prices are inclusive of VAT, please tick this box. VAT will be calculated using the same formula as above
                                    </span>
                                </div>
                            </div>
                            <!--
                    <div class="form-group col-md-12">
                            {# form_label(form.VatmossEnabled, "VATMOSS Enabled", {"label_attr" : {"class": "control-label col-md-3"} }) #}
                            <div class="col-md-9">
                            {# form_errors(form.VatmossEnabled) #}
                            {# form_widget(form.VatmossEnabled) #}
                            <span class="help-block">
                                Please tick this box to charge EU Digital Goods Tax (VATMOSS) on Digital goods sold through your shop. To learn more about this, please click here.
                            </span>
                        </div>
                    </div>
                            -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-cogs"></i>Country / Region Tax Rates
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="table-toolbar">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="btn-group">
                                    <a href="{{ path('_eezeecommerce_admin_settings_taxrate_add') }}">
                                        <button id="sample_editable_1_new" class="btn green">
                                            Add New Tax Rate <i class="fa fa-plus"></i>
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <table class="table table-striped table-bordered table-hover" id="sample_1">
                        <thead>
                        <tr>
                            <th>
                                Country
                            </th>
                            <th>
                                Tax Rate
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for rate in taxrates %}
                            <tr class="odd gradeX">
                                <td>
                                    <a href="{{ path("_eezeecommerce_admin_settings_taxrate_modify", {'id': rate.id} ) }}">
                                        {% for country in rate.country %}
                                            {{ country.name }}
                                        {% endfor %}
                                    </a>
                                </td>
                                <td>
                                    {{ rate.rate }}%
                                </td>
                            </tr>
                        {% endfor %}
                        <tr class="odd gradeX">
                            <td>
                                All others
                            </td>
                            <td>
                                0%
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}