{% extends "eezeecommerceAdminBundle::layout.html.twig" %}

{% block title %}Staff Panel | Add Tax Rule - Eezee Commerce Ltd Ecommerce Platform{% endblock title %}

{% set super_route = "settings" %}

{% block extrastylesheets %}
    {% stylesheets
        '@eezeecommerceAdminBundle/Resources/public/vendor/dropzone/css/dropzone.css' filter="?cssrewrite"
        '@eezeecommerceAdminBundle/Resources/public/vendor/bootstrap-select/css/bootstrap-select.min.css' filter="?cssrewrite"
        '@eezeecommerceAdminBundle/Resources/public/vendor/jquery-multi-select/css/multi-select.css' filter="?cssrewrite"
        '@eezeecommerceAdminBundle/Resources/public/vendor/select2/css/select2.min.css' filter="?cssrewrite"
        '@eezeecommerceAdminBundle/Resources/public/vendor/select2/css/select2-bootstrap.min.css' filter="?cssrewrite"
    %}
    <link href="{{ asset_url }}" rel="stylesheet">
    {% endstylesheets %}
{% endblock extrastylesheets %}

{% block content %}
    {{ form_start(form) }}
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="{{ path('_eezeecommerce_admin_homepage') }}">Dashboard</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <i class="fa fa-cog"></i>
                <a href="{{ path('_eezeecommerce_admin_settings_tax') }}">VAT &amp; Taxes Settings</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <i class="fa fa-cog"></i>
                <a href="#">Add Tax Rate</a>
            </li>
        </ul>
    </div>
    <h3 class="page-title">
        Add Tax Rate
    </h3>
    <div class="row">
        <div class="col-md-9">
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-cogs"></i>Add Country Tax Rate
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="form-body">
                        <div class="row">
                            <div class="form-group col-md-12">
                                {{ form_row(form.rate) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-12">
                                {{ form_row(form.allow_override) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-12">
                                <input type="submit" class="btn btn-primary" value="Submit" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-cogs"></i>Add Country Tax Rate
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="form-body">
                        <div class="row">
                            <div class="form-group col-md-12">
                                {{ form_row(form.country, {"attr" : {"class" : "multi-select"} }) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ form_row(form.tax_settings, {"attr" : {"class" : "hidden", "value" : "1"} }) }}
    {{ form_end(form) }}
{% endblock content %}

{% block scripts %}
    {% javascripts
        '@eezeecommerceAdminBundle/Resources/public/js/components-editors.js'
        '@eezeecommerceAdminBundle/Resources/public/vendor/dropzone/dropzone.js'
        '@eezeecommerceAdminBundle/Resources/public/js/form-dropzone.js'
        '@eezeecommerceAdminBundle/Resources/public/vendor/bootstrap-select/js/bootstrap-select.min.js'
        '@eezeecommerceAdminBundle/Resources/public/vendor/jquery-multi-select/js/jquery.multi-select.js'
        '@eezeecommerceAdminBundle/Resources/public/vendor/select2/js/select2.full.min.js'
    %}
    <script src="{{ asset_url }}"></script>

    {% endjavascripts %}

    <script>
        jQuery(document).ready(function () {
            $('.multi-select').multiSelect({
                selectableHeader: "<div class='custom-header'>Available</div>",
                selectionHeader: "<div class='custom-header'>Selected</div>",
            });
        })
    </script>

{% endblock scripts %}