{% extends "eezeecommerceAdminBundle::layout.html.twig" %}

{% block title %}Staff Panel | Dashboard - Eezee Commerce Ltd Ecommerce Platform{% endblock title %}

{% set super_route = "dashboard" %}

{% block extrastylesheets %}
    {% stylesheets
    '@eezeecommerceAdminBundle/Resources/public/vendor/morris/morris.css' filter="?cssrewrite" %}
    <link href="{{ asset_url }}" rel="stylesheet">
    {% endstylesheets %}
{% endblock extrastylesheets %}

{% block content %}
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="#">Dashboard</a>
            </li>
        </ul>
    </div>
    <!-- BEGIN PAGE HEADER-->
    <h3 class="page-title">
        Welcome, {{ app.User.firstName }}.
    </h3>
    <!-- END PAGE HEADER-->
    <!-- BEGIN PAGE CONTENT-->
    <div class="row">
        <div class="col-md-3 col-sm-6">
            <div class="dashboard-stat2">
                <div class="display">
                    <div class="number">
                        <a href="{{ path('_eezeecommerce_admin_orders_index_completed') }}">
                            <h3 class="font-green-sharp">
                                <small class="font-green-sharp">{{ render(controller('eezeecommerceAdminBundle:Menu:getCurrencyCode')) }}</small>{{ today.0.total|number_format(2, '.', ',') }}
                            </h3>
                            <small>TODAY'S SALES</small>
                        </a>
                    </div>
                    <div class="icon">
                        <i class="icon-pie-chart"></i>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="dashboard-stat2">
                <div class="display">
                    <div class="number">
                        <a href="{{ path('_eezeecommerce_admin_orders_index_completed') }}">
                            <h3 class="font-blue-sharp">{{ today.0.items }}</h3>
                            <small>TODAY'S ORDERS</small>
                        </a>
                    </div>
                    <div class="icon">
                        <i class="icon-basket-loaded"></i>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="dashboard-stat2">
                <div class="display">
                    <div class="number">
                        <a href="{{ path('_eezeecommerce_admin_orders_index_completed') }}">
                            <h3 class="font-purple-soft">
                                <small class="font-purple-soft">{{ render(controller('eezeecommerceAdminBundle:Menu:getCurrencyCode')) }}</small>{{ week.0.total|number_format(2, '.', ',') }}
                            </h3>
                            <small>7 DAY TOTAL SALES</small>
                        </a>
                    </div>
                    <div class="icon">
                        <i class="icon-graph"></i>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="dashboard-stat2">
                <div class="display">
                    <div class="number">
                        <a href="{{ path('_eezeecommerce_admin_orders_index_completed') }}">
                            <h3 class="font-red-haze">{{ week.0.items }}</h3>
                            <small>7 DAY TOTAL ORDERS</small>
                        </a>
                    </div>
                    <div class="icon">
                        <i class="icon-present"></i>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <!-- BEGIN PORTLET-->
            <div class="portlet light ">
                <div class="portlet-title">
                    <div class="caption caption-md">
                        <i class="icon-bar-chart theme-font-color hide"></i>
                        <span class="caption-subject theme-font-color bold uppercase">Sales Summary</span>
                    </div>
                </div>
                {% set total = 0 %}
                {% for stat in stats %}
                    {% set total = total + stat.a %}
                {% endfor %}
                <div class="portlet-body">
                    <div id="highchart_1"></div>

                </div>
            </div>
            <!-- END PORTLET-->
        </div>
    </div>
{% endblock content %}

{% block scripts %}
    {% javascripts
    '@eezeecommerceAdminBundle/Resources/public/vendor/morris/morris.js'
    '@eezeecommerceAdminBundle/Resources/public/vendor/morris/raphael-min.js'
    '@eezeecommerceAdminBundle/Resources/public/vendor/highcharts/js/highcharts.js'
    '@eezeecommerceAdminBundle/Resources/public/vendor/highcharts/js/highcharts-3d.js'
    '@eezeecommerceAdminBundle/Resources/public/vendor/highcharts/js/highcharts-more.js'
    '@eezeecommerceAdminBundle/Resources/public/vendor/highcharts/js/highcharts-more.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}


    <script>

        $(function () {
            $('#highchart_1').highcharts({
                chart: {
                    zoomType: 'xy'
                },
                title: {
                    text: ''
                },
                xAxis: [{
                    categories: [{% for stat in stats %}'{{ stat.x|date("d M") }}'{% if loop.last == false %},{% endif %}{% endfor %}],
                    crosshair: true
                }],
                yAxis: [{ // Primary yAxis
                    labels: {
                        format: '{value}',
                        style: {
                            color: Highcharts.getOptions().colors[1]
                        }
                    },
                    title: {
                        text: '# Orders',
                        style: {
                            color: Highcharts.getOptions().colors[1]
                        }
                    }
                }, { // Secondary yAxis
                    title: {
                        text: 'Income',
                        style: {
                            color: Highcharts.getOptions().colors[0]
                        }
                    },
                    labels: {
                        format: '{{ render(controller('eezeecommerceAdminBundle:Menu:getCurrencyCode')) }}{value}',
                        style: {
                            color: Highcharts.getOptions().colors[0]
                        }
                    },
                    opposite: true
                }],
                tooltip: {
                    shared: true
                },
                legend: {
                    layout: 'vertical',
                    align: 'left',
                    x: 120,
                    verticalAlign: 'top',
                    y: 100,
                    floating: true,
                    backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'
                },
                series: [{
                    name: 'Income',
                    type: 'column',
                    yAxis: 1,
                    data: [{% for stat in stats %}{{ stat.a }}{% if loop.last == false %},{% endif %}{% endfor %}],
                    tooltip: {
                        valuePrefix: '{{ render(controller('eezeecommerceAdminBundle:Menu:getCurrencyCode')) }}'
                    }

                }, {
                    name: '# Orders',
                    type: 'spline',
                    data: [{% for stat in stats %}{{ stat.c }}{% if loop.last == false %},{% endif %}{% endfor %}],
                    tooltip: {
                        valueSuffix: ''
                    }
                }]
            });
        });

    </script>
{% endblock scripts %}