{% extends "eezeecommerceAdminBundle::layout.html.twig" %}

{% block title %}Staff Panel | Country Settings - Eezee Commerce Ltd Ecommerce Platform{% endblock title %}

{% set super_route = "settings" %}

{% block extrastylesheets %}
    {% stylesheets
        '@eezeecommerceAdminBundle/Resources/public/vendor/jstree/dist/themes/default/style.css' filter="?cssrewrite"
    %}
    <link href="{{ asset_url }}" rel="stylesheet">
    {% endstylesheets %}
{% endblock extrastylesheets %}

{% block content %}
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="{{ path('_eezeecommerce_admin_homepage') }}">Dashboard</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <i class="fa fa-tags"></i>
                <a href="{{ path('_eezeecommerce_admin_products_index') }}">Products</a>
            </li>
        </ul>
    </div>
    <h3 class="page-title">
        Countries
    </h3>
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box grey-cascade">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-globe"></i>Countries List
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="table-toolbar">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="btn-group">
                                    <a href="{{ path('_eezeecommerce_admin_settings_countries') }}">
                                        <button id="sample_editable_1_new" class="btn green">
                                            Add New Country <i class="fa fa-plus"></i>
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div id="tree_5" class="tree-demo"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block scripts %}
    {% javascripts
        '@eezeecommerceAdminBundle/Resources/public/vendor/jstree/dist/jstree.js'
        '@eezeecommerceAdminBundle/Resources/public/js/ui-tree.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script>
        $("#tree_5").on('move_node.jstree', function(e, node){
            var array = $("#tree_5").jstree(true).get_json("#");
            var json = JSON.stringify(array);
            $.post("{{ path('_eezeecommerce_admin_settings_countries_move') }}", {"json": json}, function (data) {
            });
        });
    </script>
{% endblock scripts %}