<div class="page-sidebar-wrapper">
    <div class="page-sidebar navbar-collapse collapse">
        <ul class="page-sidebar-menu page-header-fixed page-sidebar-menu-hover-submenu" data-keep-expanded="false"
            data-auto-scroll="true" data-slide-speed="200">
            {% for links in menu %}
                <li class="{%  if loop.first %}start active open{% endif %} nav-item">

                    <a href="{% if links.link != "#" %}{{ path(links.link) }}{% else %}javascript:;{% endif %}" {% if links.link == "#" %}class="nav-link nav-toggle"{% endif %}>
                        <i class="{{ links.icon }}"></i>
                        <span class="title">{{ links.name }}</span>
                        <span class="arrow"></span>
                    </a>
                    {% if links.children is not null %}
                        {% if (links.children | length) > 0 %}
                            <ul class="sub-menu">
                                {% for child in links.children %}
                                    <li class="nav-item">
                                        <a href="{{ path(child.link) }}" class="nav-link ">
                                            <span class="title">{{ child.name }}</span>
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
</div>