{% extends "eezeecommerceAdminBundle::layout.html.twig" %}

{% block title %}Staff Panel | Reports - Eezee Commerce Ltd Ecommerce Platform{% endblock title %}

{% set super_route = "reports" %}

{% block content %}
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="{{ path('_eezeecommerce_admin_homepage') }}">Dashboard</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <i class="fa fa-bar-chart"></i>
                <a href="#">Reports</a>
            </li>
        </ul>
    </div>
    <h3 class="page-title">
        Sales Reports
    </h3>
    <div class="row">
        <div class="col-md-3">
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption">
                        Sales / Orders Overview
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption">
                        Sales by Product
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption">
                        Sales by Day
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption">
                        Sales by Hour
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption">
                        Sales by Month
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption">
                        Sales by Category
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption">
                        Sales / Orders Overview
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption">
                        Av. Order Value
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <h3 class="page-title">
        Dispatch Reports
    </h3>
    <div class="row">
        <div class="col-md-3">
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption">
                        Av. Turnaround Times
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption">
                        Late Orders
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <h3 class="page-title">
        Discount Reports
    </h3>
    <div class="row">
        <div class="col-md-3">
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption">
                        Discount Code Usages
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}