{% extends "eezeecommerceAdminBundle::layout.html.twig" %}

{% block title %}Staff Panel | Modify Courier - Eezee Commerce Ltd Ecommerce Platform{% endblock title %}

{% set super_route = "settings" %}

{% block extrastylesheets %}
    {% stylesheets
        '@eezeecommerceAdminBundle/Resources/public/vendor/dropzone/css/dropzone.css' filter="?cssrewrite"
        '@eezeecommerceAdminBundle/Resources/public/vendor/bootstrap-select/css/bootstrap-select.min.css' filter="?cssrewrite"
        '@eezeecommerceAdminBundle/Resources/public/vendor/jquery-multi-select/css/multi-select.css' filter="?cssrewrite"
        '@eezeecommerceAdminBundle/Resources/public/vendor/select2/css/select2.min.css' filter="?cssrewrite"
        '@eezeecommerceAdminBundle/Resources/public/vendor/select2/css/select2-bootstrap.min.css' filter="?cssrewrite"
    %}
    <link href="{{ asset_url }}" rel="stylesheet">
    {% endstylesheets %}
{% endblock extrastylesheets %}

{% block content %}
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="{{ path("_eezeecommerce_admin_homepage") }}">Dashboard</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <i class="fa fa-truck"></i>
                <a href="{{ path("_eezeecommerce_admin_settings_shipping") }}">Shipping</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <i class="fa fa-check"></i>
                <a href="#">Modify Courier</a>
            </li>
        </ul>
    </div>
    <h3 class="page-title">
        Modify Courier
    </h3>

    <div class="row">
        {{ form_start(form, {"attr" : {"role": "form"} }) }}
        <div class="col-md-8">
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-globe"></i>Courier Details
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="form-body">
                        <div class="row">
                            <div class="form-group">
                                <label class="col-md-2 control-label">Courier Name:</label>
                                <div class="col-md-10">
                                    {{ form_row(form.name, {"attr" : {"class" : "form-control"} }) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Courier Contact Phone:</label>
                                <div class="col-md-10">
                                    {{ form_row(form.phone, {"attr" : {"class" : "form-control"} }) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Tracking URL:</label>
                                <div class="col-md-10">
                                    {{ form_row(form.trackingUri, {"attr" : {"class" : "form-control"} }) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock content %}
{% block scripts %}
    {% javascripts
        '@eezeecommerceAdminBundle/Resources/public/js/components-editors.js'
        '@eezeecommerceAdminBundle/Resources/public/vendor/dropzone/dropzone.js'
        '@eezeecommerceAdminBundle/Resources/public/js/form-dropzone.js'
        '@eezeecommerceAdminBundle/Resources/public/vendor/bootstrap-select/js/bootstrap-select.min.js'
        '@eezeecommerceAdminBundle/Resources/public/vendor/jquery-multi-select/js/jquery.multi-select.js'
        '@eezeecommerceAdminBundle/Resources/public/vendor/select2/js/select2.full.min.js'
    %}
    <script src="{{ asset_url }}"></script>

    {% endjavascripts %}

{% endblock scripts %}