{% extends "eezeecommerceAdminBundle::layout.html.twig" %}

{% block title %}Staff Panel | Shipping Rules - Eezee Commerce Ltd Ecommerce Platform{% endblock title %}

{% set super_route = "settings" %}

{% block content %}
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="{{ path("_eezeecommerce_admin_homepage") }}">Dashboard</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <i class="fa fa-cog"></i>
                <a href="{{ path("_eezeecommerce_admin_settings_general") }}">General Settings</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <i class="fa fa-truck"></i>
                <a href="#">Shipping Settings</a>
            </li>
        </ul>
    </div>
    <h3 class="page-title">
        General Settings
    </h3>
    <div class="row">
    <div class="col-md-12">
    <div class="portlet light">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-cogs"></i>General Settings
            </div>
        </div>
        <div class="portlet-body form">
            <div class="form-body">
                <div class="row">
                    <div class="col-md-3">
                        <h4>
                            Shipping Couriers
                        </h4>
                        <p>
                            Add new Shipping Courier or edit/remove an existing one.
                        </p>
                        <a href="{{ path('_eezeecommerce_admin_settings_shipping_courier_add') }}"
                           class="btn btn-default">
                            Add New Courier
                        </a>
                    </div>
                    <div class="col-md-9">
                        {% for courier in couriers %}
                            <div class="portlet">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="fa fa-truck"></i>{{ courier.name }}
                                        <small>
                                            <small>-
                                                <a href="{{ path('_eezeecommerce_admin_settings_shipping_courier_modify', {"id": courier.id}) }}">edit</a>
                                            </small>
                                        </small>
                                    </div>
                                    <div class="tools">
                                        <a href="{{ path('_eezeecommerce_admin_settings_shipping_courier_service_add') }}">
                                            <button class="btn btn-default">
                                                Add New Service
                                            </button>
                                        </a>
                                    </div>
                                </div>
                                <div class="portlet-body form">
                                    <div class="form-body">
                                        <div class="row">
                                            <div class="col-md-11 col-md-offset-1">
                                                {% for service in courier.services %}
                                                    <div class="portlet">
                                                        <div class="portlet-title">
                                                            <div class="caption">
                                                                <i class="fa fa-cogs"></i>{{ service.name }} {% if service.variableZones %} (Zone {{ service.zone }}) {% endif %}
                                                                <small>
                                                                    <small>(
                                                                        {% for country in service.country %}
                                                                            {% if loop.last %}
                                                                                {{ country.name }}
                                                                            {% else %}
                                                                                {{ country.name }},
                                                                            {% endif %}
                                                                        {% endfor %}
                                                                           )
                                                                    </small>
                                                                </small>
                                                            </div>
                                                            <div class="tools">
                                                                <a href="{{ path('_eezeecommerce_admin_settings_shipping_courier_service_modify', {'id': service.id} ) }}">
                                                                    <button class="btn btn-default">
                                                                        Add / Modify Criteria
                                                                    </button>
                                                                </a>
                                                                <a href="{{ path('_eezeecommerce_admin_settings_shipping_courier_service_delete', {'id': service.id} ) }}">
                                                                    <button class="btn btn-outline red">
                                                                        Remove
                                                                    </button>
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <div class="portlet-body">
                                                            <div class="col-md-11 col-md-offset-1">
                                                                <table class="table table-hover">
                                                                    <thead>
                                                                    <tr>
                                                                        <th>
                                                                            Criteria
                                                                        </th>
                                                                        <th>
                                                                            Price
                                                                        </th>
                                                                    </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                    {% for criteria in service.servicePricing %}
                                                                        <tr class="odd gradeX">
                                                                            <td>
                                                                                {{ criteria.minWeight|number_format(2, '.', ',') }}
                                                                                kg
                                                                                - {{ criteria.maxWeight|number_format(2, '.', ',') }}
                                                                                kg
                                                                            </td>
                                                                            <td>
                                                                                <strong>{{ render(controller('eezeecommerceAdminBundle:Menu:getCurrencyCode')) }}{{ criteria.basePrice|number_format(2, '.', ',') }}</strong>
                                                                            </td>
                                                                        </tr>
                                                                    {% endfor %}
                                                                    </tbody>
                                                                </table>
                                                                {% if service.afterWeight is not empty %}
                                                                    <p>
                                                                        Then
                                                                        <strong>{{ render(controller('eezeecommerceAdminBundle:Menu:getCurrencyCode')) }}{{ service.afterBasePrice|number_format(2, '.', ',') }}</strong>
                                                                        for every
                                                                        <strong>{{ service.afterWeight|number_format(2, '.', ',') }}
                                                                            kg</strong> thereon.
                                                                    </p>
                                                                {% endif %}
                                                                {% if service.enableOrdertotalCutoffs == 1 %}
                                                                    <p>
                                                                        Order Total cutoffs enabled between:
                                                                        <strong>{% if service.minOrdertotal is not empty %}{{ render(controller('eezeecommerceAdminBundle:Menu:getCurrencyCode')) }}{{ service.minOrdertotal|number_format(2, '.', ',') }}{% else %} {{ render(controller('eezeecommerceAdminBundle:Menu:getCurrencyCode')) }}00.00{% endif %}</strong>
                                                                        -
                                                                        <strong>{% if service.maxOrdertotal is not empty %}{{ render(controller('eezeecommerceAdminBundle:Menu:getCurrencyCode')) }}{{ service.maxOrdertotal|number_format(2, '.', ',') }}{% else %} {{ render(controller('eezeecommerceAdminBundle:Menu:getCurrencyCode')) }}&infin;{% endif %}</strong>
                                                                    </p>
                                                                {% endif %}
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}