{% extends "eezeecommerceAdminBundle::layout.html.twig" %}

{% block title %}Staff Panel | Add New Shipping Serivce - Eezee Commerce Ltd Ecommerce Platform{% endblock title %}

{% set super_route = "settings" %}

{% block extrastylesheets %}
    {% stylesheets
        '@eezeecommerceAdminBundle/Resources/public/vendor/dropzone/css/dropzone.css' filter="?cssrewrite"
        '@eezeecommerceAdminBundle/Resources/public/vendor/bootstrap-select/css/bootstrap-select.min.css' filter="?cssrewrite"
        '@eezeecommerceAdminBundle/Resources/public/vendor/jquery-multi-select/css/multi-select.css' filter="?cssrewrite"
        '@eezeecommerceAdminBundle/Resources/public/vendor/select2/css/select2.min.css' filter="?cssrewrite"
        '@eezeecommerceAdminBundle/Resources/public/vendor/select2/css/select2-bootstrap.min.css' filter="?cssrewrite"
    %}
    <link href="{{ asset_url }}" rel="stylesheet">
    {% endstylesheets %}
{% endblock extrastylesheets %}

{% block content %}
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="{{ path("_eezeecommerce_admin_homepage") }}">Dashboard</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <i class="fa fa-truck"></i>
                <a href="{{ path("_eezeecommerce_admin_settings_shipping") }}">Shipping</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <i class="fa fa-check"></i>
                <a href="#">Add new Courier Service</a>
            </li>
        </ul>
    </div>
    <h3 class="page-title">
        Add new Courier Service
    </h3>

    <div class="row">
        {{ form_start(form, {"attr" : {"role": "form"} }) }}
        <div class="col-md-8">
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-globe"></i>Courier Service Details
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="form-body">
                        <div class="row">
                            <div class="form-group">
                                <label class="col-md-2 control-label">Courier:</label>
                                <div class="col-md-10">
                                    {{ form_row(form.courier, {"attr" : {"class" : "form-control"} }) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Service Name:</label>
                                <div class="col-md-10">
                                    {{ form_row(form.name, {"attr" : {"class" : "form-control"} }) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-10 col-md-offset-2">
                                    {{ form_row(form.variable_zones) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">If Variable Zones, which Zone:</label>
                                <div class="col-md-10">
                                    {{ form_row(form.zone, {"attr" : {"class" : "form-control"} }) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>         
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-globe"></i>Criteria
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="form-body">
                        <div class="row criteria">
                            <div class="col-md-12">
                                <ul id="criteria" class="criteria"
                                    data-prototype="{{ form_widget(form.service_pricing.vars.prototype)|e }}">
                                    {% for criteriaField in form.service_pricing %}
                                        <li>
                                            {{ form_errors(criteriaField) }}
                                            {{ form_widget(criteriaField) }}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="portlet box grey-cascade">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-globe"></i>Recurring Criteria <small>(optional)</small>
                        </div>
                    </div>
                    <div class="portlet-body form">
                        <div class="form-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-md-6">
                                            {{ form_row(form.after_weight, {"attr" : {"class" : "form-control"} }) }}
                                        </div>
                                        <div class="col-md-6">
                                            {{ form_row(form.after_base_price, {"attr" : {"class" : "form-control"} }) }}
                                        </div>
                                        <div class="col-md-12">
                                            <span class="help-block">If your criteria pricing recurses in set increments use this function to simplify shipping.<br />
                                                For example: If your shipping prices go up £10 for every 1KG above your maximum set criteria. <br />
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
        <div class="col-md-4">
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-globe"></i>Associated Countiries
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="form-body">
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-10">
                                    {{ form_row(form.country, {"attr" : {"class" : "multi-select"} }) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-globe"></i>Delivery Schedule
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="form-body">
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-6">
                                    {{ form_row(form.min_delivery, {"attr" : {"class" : "form-control"} }) }}
                                </div>
                                <div class="col-md-6">
                                    {{ form_row(form.max_delivery, {"attr" : {"class" : "form-control"} }) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-globe"></i>Volumetric Weight
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="form-body">
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-6">
                                    {{ form_row(form.uses_vol_weight) }}
                                </div>
                                <div class="col-md-6">
                                    {{ form_row(form.divisable_vol_value, {"attr" : {"class" : "form-control"} }) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-globe"></i>Order Total Cutoffs
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="form-body">
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-12">
                                    {{ form_row(form.enable_ordertotal_cutoffs) }}
                                </div>
                                <div class="col-md-6">
                                    {{ form_row(form.min_ordertotal, {"attr" : {"class" : "form-control"} }) }}
                                </div>
                                <div class="col-md-6">
                                    {{ form_row(form.max_ordertotal, {"attr" : {"class" : "form-control"} }) }}
                                </div>
                                <div class="col-md-12">
                                    <span class="help-block">
                                        Leave Minimum Order Total blank to use any value greater than 0. </br>
                                        Leave Maximum Order Total blank to use infinity.
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock content %}
{% block scripts %}
    {% javascripts
        '@eezeecommerceAdminBundle/Resources/public/js/components-editors.js'
        '@eezeecommerceAdminBundle/Resources/public/vendor/dropzone/dropzone.js'
        '@eezeecommerceAdminBundle/Resources/public/js/form-dropzone.js'
        '@eezeecommerceAdminBundle/Resources/public/vendor/bootstrap-select/js/bootstrap-select.min.js'
        '@eezeecommerceAdminBundle/Resources/public/vendor/jquery-multi-select/js/jquery.multi-select.js'
        '@eezeecommerceAdminBundle/Resources/public/vendor/select2/js/select2.full.min.js'
    %}
    <script src="{{ asset_url }}"></script>

    {% endjavascripts %}
    <script>


        var $collectionHolder;

        // setup an "add a tag" link
        var $addCriteriaLink = $('<a href="#" class="add_criteria_link">Add Criteria</a>');
        var $newLinkLi = $('<li></li>').append($addCriteriaLink);

        jQuery(document).ready(function () {
            $('.multi-select').multiSelect({
                selectableHeader: "<div class='custom-header'>Available</div>",
                selectionHeader: "<div class='custom-header'>Selected</div>",
            });

            // Get the ul that holds the collection of tags
            $collectionHolder = $('ul.criteria');

            $collectionHolder.find('li').each(function () {
                addCriteriaFormDeleteLink($(this));
            });

            // add the "add a tag" anchor and li to the tags ul
            $collectionHolder.append($newLinkLi);

            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            $collectionHolder.data('index', $collectionHolder.find(':input').length);

            $addCriteriaLink.on('click', function (e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // add a new tag form (see next code block)
                addCriteriaForm($collectionHolder, $newLinkLi);
            });
        });

        function addCriteriaForm($collectionHolder, $newLinkLi) {
            // Get the data-prototype explained earlier
            var prototype = $collectionHolder.data('prototype');

            // get the new index
            var index = $collectionHolder.data('index');

            // Replace '__name__' in the prototype's HTML to
            // instead be a number based on how many items we have
            var newForm = prototype.replace(/__courier_services_price__/g, index);

            // increase the index with one for the next item
            $collectionHolder.data('index', index + 1);

            // Display the form in the page in an li, before the "Add a tag" link li
            var $newFormLi = $('<li></li>').append(newForm);
            $newLinkLi.before($newFormLi);

            addCriteriaFormDeleteLink($newFormLi);
        }

        function addCriteriaFormDeleteLink($tagFormLi) {
            var $removeFormA = $('<a href="#">delete this Criteria</a>');
            $tagFormLi.append($removeFormA);

            $removeFormA.on('click', function (e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // remove the li for the tag form
                $tagFormLi.remove();
            });
        }
    </script>

{% endblock scripts %}