{% extends "eezeecommerceAdminBundle::layout.html.twig" %}

{% block title %}Staff Panel | Add New Customer - Eezee Commerce Ltd Ecommerce Platform{% endblock title %}

{% set super_route = "customers" %}

    {% block extrastylesheets %}
        {% stylesheets
        '@eezeecommerceAdminBundle/Resources/public/vendor/dropzone/css/dropzone.css' filter="?cssrewrite"
        '@eezeecommerceAdminBundle/Resources/public/vendor/bootstrap-select/css/bootstrap-select.min.css' filter="?cssrewrite"
        '@eezeecommerceAdminBundle/Resources/public/vendor/jquery-multi-select/css/multi-select.css' filter="?cssrewrite"
        '@eezeecommerceAdminBundle/Resources/public/vendor/select2/css/select2.min.css' filter="?cssrewrite"
        '@eezeecommerceAdminBundle/Resources/public/vendor/select2/css/select2-bootstrap.min.css' filter="?cssrewrite"
        %}
        <link href="{{ asset_url }}" rel="stylesheet">
        {% endstylesheets %}
    {% endblock extrastylesheets %}

    {% block content %}
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="{{ path('_eezeecommerce_admin_homepage') }}">Dashboard</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <i class="fa fa-users"></i>
                    <a href="{{ path('_eezeecommerce_admin_customers_index') }}">Customers</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <i class="fa fa-user"></i>
                    <a href="#">Add Customer</a>
                </li>
            </ul>
        </div>
        <h3 class="page-title">
            Add Customer
        </h3>

        {{ form_start(form) }}
        <div class="row">
            <div class="col-md-9">
                <div class="portlet light">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-cogs"></i>Basic Details
                        </div>
                    </div>
                    <div class="portlet-body form">
                        <div class="form-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group col-md-12">
                                        {{ form_label(form.first_name, "First Name*", {"label_attr" : {"class": "control-label col-md-3"} }) }}
                                        <div class="col-md-9">
                                            {{ form_errors(form.first_name) }}
                                            {{ form_widget(form.first_name) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group col-md-12">
                                        {{ form_label(form.last_name, "Last Name*", {"label_attr" : {"class": "control-label col-md-3"} }) }}
                                        <div class="col-md-9">
                                            {{ form_errors(form.last_name) }}
                                            {{ form_widget(form.last_name) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group col-md-12">
                                        {{ form_label(form.email, "Email Address*", {"label_attr" : {"class": "control-label col-md-3"} }) }}
                                        <div class="col-md-9">
                                            {{ form_errors(form.email) }}
                                            {{ form_widget(form.email) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group col-md-12">
                                        {{ form_label(form.home_number, "Home Number", {"label_attr" : {"class": "control-label col-md-3"} }) }}
                                        <div class="col-md-9">
                                            {{ form_errors(form.home_number) }}
                                            {{ form_widget(form.home_number) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group col-md-12">
                                        {{ form_label(form.mobile_number, "Mobile Number", {"label_attr" : {"class": "control-label col-md-3"} }) }}
                                        <div class="col-md-9">
                                            {{ form_errors(form.mobile_number) }}
                                            {{ form_widget(form.mobile_number) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group col-md-12">
                                        {{ form_label(form.work_number, "Work Number", {"label_attr" : {"class": "control-label col-md-3"} }) }}
                                        <div class="col-md-9">
                                            {{ form_errors(form.work_number) }}
                                            {{ form_widget(form.work_number) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group col-md-12">
                                        {{ form_label(form.vat_number, "VAT Number", {"label_attr" : {"class": "control-label col-md-3"} }) }}
                                        <div class="col-md-9">
                                            {{ form_widget(form.vat_number) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group col-md-12">
                                        {{ form_label(form.company_name, "Company Name", {"label_attr" : {"class": "control-label col-md-3"} }) }}
                                        <div class="col-md-9">
                                            {{ form_widget(form.company_name) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="portlet light">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-cogs"></i>Customer Profile
                        </div>
                    </div>
                    <div class="portlet-body form">
                        <div class="form-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group col-md-12">
                                        {{ form_label(form.username, "Log-in Username", {"label_attr" : {"class": "control-label col-md-3"} }) }}
                                        <div class="col-md-9">
                                            {{ form_errors(form.username) }}
                                            {{ form_widget(form.username) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group col-md-12">
                                        {{ form_row(form.plainPassword.first) }}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group col-md-12">
                                        {{ form_row(form.plainPassword.second) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="portlet-body form">
                        <div class="form-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group col-md-12">
                                        {{ form_row(form.notes) }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group col-md-12">
                                        {{ form_row(form.override_vat) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="portlet light">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-cogs"></i>Customer Discount
                        </div>
                    </div>
                    <div class="portlet-body form">
                        <div class="form-body">
                            <div class="row">
                                <div class="form-group col-md-12">
                                    {{ form_row(form.discount) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="portlet light">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-cogs"></i>Customer Groups
                        </div>
                    </div>
                    <div class="portlet-body form">
                        <div class="form-body">
                            <div class="row">
                                <div class="form-group col-md-12">
                                    {{ form_row(form.grouping, {"attr" : {"class" : "multi-select"} }) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        {{ form_end(form) }}
    {% endblock content %}

    {% block scripts %}
        {% javascripts
        '@eezeecommerceAdminBundle/Resources/public/js/components-editors.js'
        '@eezeecommerceAdminBundle/Resources/public/vendor/dropzone/dropzone.js'
        '@eezeecommerceAdminBundle/Resources/public/js/form-dropzone.js'
        '@eezeecommerceAdminBundle/Resources/public/vendor/bootstrap-select/js/bootstrap-select.min.js'
        '@eezeecommerceAdminBundle/Resources/public/vendor/jquery-multi-select/js/jquery.multi-select.js'
        '@eezeecommerceAdminBundle/Resources/public/vendor/select2/js/select2.full.min.js'
        %}
        <script src="{{ asset_url }}"></script>

        {% endjavascripts %}

        <script type="text/javascript">

            jQuery(document).ready(function() {
                $('.multi-select').multiSelect({
                    selectableHeader: "<div class='custom-header'>Available</div>",
                    selectionHeader: "<div class='custom-header'>Selected</div>",
                });
            })
        </script>

    {% endblock scripts %}