{% extends "eezeecommerceAdminBundle::layout.html.twig" %}

{% block title %}Staff Panel | Modify Customer - Eezee Commerce Ltd Ecommerce Platform{% endblock title %}

{% set super_route = "customers" %}

    {% block extrastylesheets %}
        {% stylesheets
        '@eezeecommerceAdminBundle/Resources/public/vendor/dropzone/css/dropzone.css' filter="?cssrewrite"
        '@eezeecommerceAdminBundle/Resources/public/vendor/bootstrap-select/css/bootstrap-select.min.css' filter="?cssrewrite"
        '@eezeecommerceAdminBundle/Resources/public/vendor/jquery-multi-select/css/multi-select.css' filter="?cssrewrite"
        '@eezeecommerceAdminBundle/Resources/public/vendor/select2/css/select2.min.css' filter="?cssrewrite"
        '@eezeecommerceAdminBundle/Resources/public/vendor/select2/css/select2-bootstrap.min.css' filter="?cssrewrite"
        '@eezeecommerceAdminBundle/Resources/public/css/profile.css' filter="?cssrewrite" %}
        <link href="{{ asset_url }}" rel="stylesheet">
        {% endstylesheets %}
    {% endblock extrastylesheets %}

    {% block content %}
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="{{ path('_eezeecommerce_admin_homepage') }}">Dashboard</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <i class="fa fa-users"></i>
                    <a href="{{ path('_eezeecommerce_admin_customers_index') }}">Customers</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <i class="fa fa-user"></i>
                    <a href="#">Modify Customer</a>
                </li>
            </ul>
        </div>
        <div class="col-md-6">
            <h3 class="page-title">
                {% if user.firstName is defined %}
                    {{ user.firstName }}
                {% endif %}
                {% if user.lastName is defined %}
                    {{ user.lastName }}
                {% endif %}
            </h3>
        </div>
        <div class="col-md-6">
            <div class="btn-group pull-right">
                <a class="btn btn-outline green" href="{{ path("index", {'_switch_user': user.username}) }}">
                    Login
                    as
                    user</a>
            </div>
        </div>
        {{ form_start(form) }}
        <div class="row">
            <div class="col-md-8">

                <div class="portlet light">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-gift"></i>Customer Orders
                        </div>
                    </div>
                    <div class="portlet-body form">
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table table-striped table-bordered table-hover order-column no-footer"
                                       id="order-table">
                                    <thead>
                                    <tr>
                                        <th>
                                            Order #
                                        </th>
                                        <th>
                                            Date
                                        </th>
                                        <th>
                                            Status
                                        </th>
                                        <th>
                                            Order Total
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% set total = 0 %}
                                    {% set basetotal = 0 %}
                                    {% for order in user.orders %}
                                        {% if (order.payment | length) > 0 %}
                                            <tr>
                                                <td>
                                                    <a href="{{ path("_eezeecommerce_admin_orders_details", {'id': order.id} ) }}">
                                                        {{ order.orderNumber }}
                                                    </a>
                                                </td>
                                                <td>
                                                    {{ order.OrderDate | date("d/m/Y \\: H:s") }}
                                                </td>
                                                <td>
                                                    {% set flag = "Failed" %}

                                                    {% for payment in order.payment %}
                                                        {% if payment.status == "success" or payment.status == "captured" %}
                                                            {% set flag = "success" %}
                                                            {% if payment.AMT is defined %}
                                                                {% set total = total + ((payment.AMT)| number_format(4,'.','')) %}
                                                                {% set basetotal = basetotal + (payment.AMT / ((order.exchangeRate != 0)? order.exchangeRate : 1)) %}
                                                            {% elseif payment.PAYMENTREQUEST_0_AMT is defined %}
                                                                {% set total = total + ((payment.PAYMENTREQUEST_0_AMT)| number_format(4,'.','')) %}
                                                                {% set basetotal = basetotal + (payment.PAYMENTREQUEST_0_AMT / ((order.exchangeRate != 0)? order.exchangeRate : 1)) %}
                                                            {% endif %}
                                                        {% endif %}
                                                    {% endfor %}
                                                    {% if flag == "success" %}
                                                        {% if total > order.total %}
                                                            <span class="label label-sm label-warning">
                                                            Over Paid
                                                        </span>
                                                        {% elseif total == order.total %}
                                                            <span class="label label-sm label-info">
                                                            Paid
                                                        </span>
                                                        {% elseif total < order.total %}
                                                            <span class="label label-sm label-warning">
                                                            Part Paid
                                                        </span>
                                                        {% endif %}
                                                    {% else %}
                                                        <span class="label label-sm label-danger">
                                                        Failed
                                                    </span>
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {{ currencySymbol(order.currencyCode) }}{{ order.total| number_format(2,'.',',') }}
                                                </td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="portlet light">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-cogs"></i>Basic Details
                        </div>
                    </div>
                    <div class="portlet-body form">
                        <div class="form-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group col-md-12">
                                        {{ form_label(form.first_name, "First Name*", {"label_attr" : {"class": "control-label col-md-3"} }) }}
                                        <div class="col-md-9">
                                            {{ form_errors(form.first_name) }}
                                            {{ form_widget(form.first_name) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group col-md-12">
                                        {{ form_label(form.last_name, "Last Name*", {"label_attr" : {"class": "control-label col-md-3"} }) }}
                                        <div class="col-md-9">
                                            {{ form_errors(form.last_name) }}
                                            {{ form_widget(form.last_name) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group col-md-12">
                                        {{ form_label(form.home_number, "Home Number", {"label_attr" : {"class": "control-label col-md-3"} }) }}
                                        <div class="col-md-9">
                                            {{ form_errors(form.home_number) }}
                                            {{ form_widget(form.home_number) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group col-md-12">
                                        {{ form_label(form.mobile_number, "Mobile Number", {"label_attr" : {"class": "control-label col-md-3"} }) }}
                                        <div class="col-md-9">
                                            {{ form_errors(form.mobile_number) }}
                                            {{ form_widget(form.mobile_number) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group col-md-12">
                                        {{ form_label(form.work_number, "Work Number", {"label_attr" : {"class": "control-label col-md-3"} }) }}
                                        <div class="col-md-9">
                                            {{ form_errors(form.work_number) }}
                                            {{ form_widget(form.work_number) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group col-md-12">
                                        {{ form_label(form.vat_number, "VAT Number", {"label_attr" : {"class": "control-label col-md-3"} }) }}
                                        <div class="col-md-9">
                                            {{ form_widget(form.vat_number) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group col-md-12">
                                        {{ form_label(form.company_name, "Company Name", {"label_attr" : {"class": "control-label col-md-3"} }) }}
                                        <div class="col-md-9">
                                            {{ form_widget(form.company_name) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="portlet light">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-cogs"></i>Customer Profile
                        </div>
                    </div>
                    <div class="portlet-body form">
                        <div class="form-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group col-md-12">
                                        {{ form_row(form.notes) }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group col-md-12">
                                        {{ form_row(form.override_vat) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-4">
                <div class="portlet light">
                    <div class="portlet-body">
                        <h3 class="text-center" style="margin-top:0px;">
                            {% if user.firstName is defined %}
                                {{ user.firstName }}
                            {% endif %}
                            {% if user.lastName is defined %}
                                {{ user.lastName }}
                            {% endif %}
                            {% if user.companyName is defined %}
                                ({{ user.companyName }})
                            {% endif %}
                        </h3>
                        <hr />
                        <p>
                            <i class="fa fa-phone"></i> <strong>Home:</strong> {{ user.homeNumber }} <br />
                            <i class="fa fa-phone"></i> <strong>Mobile:</strong> {{ user.mobileNumber }} <br />
                            <i class="fa fa-phone"></i> <strong>Work:</strong> {{ user.workNumber }} <br />
                            <i class="fa fa-envelope"></i> <strong>Email: </strong>
                            <a href="mailto:{{ user.email }}">{{ user.email }}</a>
                        <hr />
                        <i class="fa fa-money"></i> <strong>Total
                                                            Spend: </strong>{{ render(controller('eezeecommerceAdminBundle:Menu:getCurrencyCode')) }}{{ (basetotal)| number_format(2,'.','') }}
                        <br />
                        <i class="fa fa-sign-in"></i> <strong>Last Login: </strong>{{ user.lastLogin|date }}

                        <hr />
                    </div>
                </div>
                <div class="portlet light">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-cogs"></i>Customer Discount
                        </div>
                    </div>
                    <div class="portlet-body form">
                        <div class="form-body">
                            <div class="row">
                                <div class="form-group col-md-12">
                                    {{ form_row(form.discount) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="portlet light">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-cogs"></i>Customer Groups
                        </div>
                    </div>
                    <div class="portlet-body form">
                        <div class="form-body">
                            <div class="row">
                                <div class="form-group col-md-12">
                                    {{ form_row(form.grouping, {"attr" : {"class" : "multi-select"} }) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        {{ form_end(form) }}
    {% endblock content %}

    {% block scripts %}
        {% javascripts
        '@eezeecommerceAdminBundle/Resources/public/js/components-editors.js'
        '@eezeecommerceAdminBundle/Resources/public/vendor/dropzone/dropzone.js'
        '@eezeecommerceAdminBundle/Resources/public/js/form-dropzone.js'
        '@eezeecommerceAdminBundle/Resources/public/vendor/bootstrap-select/js/bootstrap-select.min.js'
        '@eezeecommerceAdminBundle/Resources/public/vendor/jquery-multi-select/js/jquery.multi-select.js'
        '@eezeecommerceAdminBundle/Resources/public/vendor/select2/js/select2.full.min.js' %}
        <script src="{{ asset_url }}"></script>

        {% endjavascripts %}

        <script type="text/javascript">

            jQuery(document).ready(function () {
                $('.multi-select').multiSelect({
                    selectableHeader: "<div class='custom-header'>Available</div>",
                    selectionHeader: "<div class='custom-header'>Selected</div>"
                });
            });

        </script>

    {% endblock scripts %}