{% extends "eezeecommerceAdminBundle::layout.html.twig" %}

{% block title %}Staff Panel | View Customers - Eezee Commerce Ltd Ecommerce Platform{% endblock title %}

{% block extrastylesheets %}
    {% stylesheets
    '@eezeecommerceAdminBundle/Resources/public/vendor/datatables/datatables.css' filter="?cssrewrite"
    '@eezeecommerceAdminBundle/Resources/public/vendor/datatables/plugins/bootstrap/datatables.bootstrap.css' filter="?cssrewrite" %}
    <link href="{{ asset_url }}" rel="stylesheet">
    {% endstylesheets %}
{% endblock extrastylesheets %}

{% set super_route = "customers" %}

    {% block content %}
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="{{ path('_eezeecommerce_admin_homepage') }}">Dashboard</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <i class="fa fa-users"></i>
                    <a href="#">Customers</a>
                </li>
            </ul>
        </div>
        <!-- BEGIN PAGE HEADER-->
        <h3 class="page-title">
            Customers
        </h3>
        <!-- END PAGE HEADER-->
        <!-- BEGIN PAGE CONTENT-->
        <div class="row">
            <div class="col-md-12">
                <!-- BEGIN EXAMPLE TABLE PORTLET-->
                <div class="portlet box grey-cascade">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-globe"></i>Customers List
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="table-toolbar">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="btn-group">
                                        <a href="{{ path('_eezeecommerce_admin_customers_add') }}">
                                            <button id="sample_editable_1_new" class="btn green">
                                                Add New Customer <i class="fa fa-plus"></i>
                                            </button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <table class="table table-striped table-bordered table-hover" id="customer-table">
                            <thead>
                            <tr>
                                <th class="table-checkbox">
                                    <input type="checkbox" class="group-checkable" data-set="#sample_1 .checkboxes" />
                                </th>
                                <th>
                                    Name (Company)
                                </th>
                                <th>
                                    Username
                                </th>
                                <th>
                                    Email
                                </th>
                                <th>
                                    Role
                                </th>
                                <th>
                                    Groups
                                </th>
                                <th>
                                    Status
                                </th>
                                <th>
                                    Last Login
                                </th>
                                <th>
                                    Total Spend
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for user in customers %}
                                <tr class="odd gradeX">
                                    <td>
                                        <input type="checkbox" class="checkboxes" value="{{ user.id }}" />
                                    </td>
                                    <td>
                                        <a href="{{ path("_eezeecommerce_admin_customers_modify", {"id": user.id }) }}">
                                            {{ user.firstName | capitalize }} {{ user.lastName | capitalize }} {% if user.companyName is not empty %} ({{ user.companyName | capitalize }}) {% endif %}
                                        </a>
                                    </td>
                                    <td>
                                        {{ user.username }}
                                    </td>
                                    <td>
                                        {{ user.email }}
                                    </td>
                                    <td>
                                        {% for role in user.roles %}
                                            {% if role == "ROLE_SUPER_ADMIN" %}
                                                {% set staff = 1 %}
                                                <span class="label label-sm label-danger">
                                                            Manager
                                                        </span>
                                            {% elseif role == "ROLE_ADMIN" %}
                                                {% set staff = 1 %}
                                                <span class="label label-sm label-warning">
                                                                    Staff
                                                                </span>
                                            {% elseif role == "ROLE_USER" and staff != 1 %}
                                                <span class="label label-sm label-info">
                                                                        Customer
                                                                    </span>
                                            {% endif %}
                                        {% endfor %}
                                        {% set staff = 0 %}
                                    </td>
                                    <td>
                                        {% for group in user.grouping %}
                                            <span class="label label-sm label-info">
                                                                                        {{ group.name }}
                                                                                    </span>
                                            &nbsp;
                                        {% endfor %}
                                        {% set staff = 0 %}
                                    </td>
                                    <td class="center">
                                        {% if user.locked is defined %}
                                            {% if user.locked == "1" %}
                                                <span class="label label-sm label-warning">
                                                                                                Locked
                                                                                            </span>
                                            {% endif %}
                                        {% endif %}
                                        {% if user.expired is defined %}
                                            {% if user.expired == "1" %}
                                                <span class="label label-sm label-warning">
                                                                                                Expired
                                                                                            </span>
                                            {% endif %}
                                        {% endif %}
                                        {% if user.expired is defined and user.locked is defined %}
                                            {% if user.expired == "0" and user.locked == "0" %}
                                                <span class="label label-sm label-success">
                                                                                                Active
                                                                                            </span>
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {{ user.lastLogin|date }}
                                    </td>
                                    <td>
                                        {% set total = 0 %}
                                        {% set basetotal = 0 %}
                                        {% set flag = "Failed" %}
                                        {% for order in user.orders %}
                                            {% for payment in order.payment %}
                                                {% if payment.status == "success" or payment.status == "captured" %}
                                                    {% set flag = "success" %}
                                                    {% if payment.AMT is defined %}
                                                        {% set total = total + ((payment.AMT)| number_format(4,'.','')) %}
                                                        {% set basetotal = basetotal + (payment.AMT / ((order.exchangeRate != 0)? order.exchangeRate : 1)) %}
                                                    {% elseif payment.PAYMENTREQUEST_0_AMT is defined %}
                                                        {% set total = total + ((payment.PAYMENTREQUEST_0_AMT)| number_format(4,'.','')) %}
                                                        {% set basetotal = basetotal + (payment.PAYMENTREQUEST_0_AMT / ((order.exchangeRate != 0)? order.exchangeRate : 1)) %}
                                                    {% endif %}
                                                {% endif %}
                                            {% endfor %}
                                        {% endfor %}
                                        {{ render(controller('eezeecommerceAdminBundle:Menu:getCurrencyCode')) }}{{ (basetotal)| number_format(2,'.','') }}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- END EXAMPLE TABLE PORTLET-->
            </div>
        </div>
    {% endblock content %}

{% block scripts %}
    {% javascripts
    '@eezeecommerceAdminBundle/Resources/public/js/datatable.js'
    '@eezeecommerceAdminBundle/Resources/public/vendor/datatables/datatables.min.js'
    '@eezeecommerceAdminBundle/Resources/public/vendor/datatables/plugins/bootstrap/datatables.bootstrap.js'
    '@eezeecommerceAdminBundle/Resources/public/js/table-datatables-managed.min.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script>
        $(document).ready(function () {

            $('#customer-table').DataTable();

        });
    </script>
{% endblock scripts %}