{% extends "eezeecommerceAdminBundle::layout.html.twig" %}

{% block title %}Staff Panel | View Categories - Eezee Commerce Ltd Ecommerce Platform{% endblock title %}

{% set super_route = "webstore" %}

{% block extrastylesheets %}
    {% stylesheets
    '@eezeecommerceAdminBundle/Resources/public/vendor/jstree/dist/themes/default/style.css' filter="?cssrewrite" %}
    <link href="{{ asset_url }}" rel="stylesheet">
    {% endstylesheets %}
{% endblock extrastylesheets %}

{% block content %}
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="{{ path('_eezeecommerce_admin_homepage') }}">Dashboard</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <i class="fa fa-tags"></i>
                <a href="#">Webstore</a>
            </li>
        </ul>
        <div class="page-toolbar">
        </div>
    </div>
    <h3 class="page-title">
        Categories
    </h3>
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box grey-cascade">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-globe"></i>Web Categories List
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="table-toolbar">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="btn-group">
                                    <a href="{{ path('_eezeecommerce_admin_webstore_category_add') }}">
                                        <button id="sample_editable_1_new" class="btn green">
                                            Add New Category <i class="fa fa-plus"></i>
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div id="tree_4" class="tree-demo"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block scripts %}
    <script src="{{ path("_eezeecommerce_admin_webstore_category_jstree") }}"></script>
    <script src="{{ path("_eezeecommerce_admin_webstore_category_uitree") }}"></script>

    <script>
        $("#tree_4").on('move_node.jstree', function (e, node) {
            var array = $("#tree_4").jstree(true).get_json("#");
            var json = JSON.stringify(array);
            var result = $.post("{{ path("_eezeecommerce_admin_webstore_category_move") }}", {"json": json}, function (data) {
                console.log(result);
            });
        });
    </script>
{% endblock scripts %}