{% extends "eezeecommerceAdminBundle::layout.html.twig" %}

{% block title %}Staff Panel | Add New Category - Eezee Commerce Ltd Ecommerce Platform{% endblock title %}

{% set super_route = "webstore" %}

    {% block content %}
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="{{ path("_eezeecommerce_admin_homepage") }}">Dashboard</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <i class="fa fa-users"></i>
                    <a href="#">Webstore</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <i class="fa fa-user"></i>
                    <a href="#">Add/Modify Category</a>
                </li>
            </ul>
        </div>
        <h3 class="page-title">
            Add/Modify Category
        </h3>
        {{ form_start(form) }}
        <div class="row">
            <div class="col-md-8">
                <div class="portlet light">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-cogs"></i>Basic Details
                        </div>
                    </div>
                    <div class="portlet-body form">
                        <div class="form-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group col-md-12">
                                        <div class="form-group">
                                            <label class="col-md-2 control-label">Category Title:</label>
                                            <div class="col-md-10">
                                                {{ form_row(form.title, {"attr" : {"class" : "form-control"} }) }}
                                            </div>
                                        </div>
                                    </div><div class="form-group col-md-12">
                                        <div class="form-group">
                                            <label class="col-md-2 control-label">Short Description:</label>
                                            <div class="col-md-10">
                                                {{ form_row(form.short_description, {"attr" : {"class" : "form-control"} }) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="row productimage">
                                            <div class="col-md-12">
                                                <ul id="productimage" class="productimage"
                                                    data-prototype="{{ form_widget(form.image.vars.prototype)|e }}">
                                                    {% for imageField in form.image %}
                                                        <li>
                                                            {{ form_errors(imageField) }}
                                                            {{ form_widget(imageField) }}
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="portlet light">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-cogs"></i>Feature / Banner
                        </div>
                    </div>
                    <div class="portlet-body form">
                        <div class="form-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group col-md-12">
                                        <div class="form-group">
                                            <label class="col-md-2 control-label">Description:</label>
                                            <div class="col-md-10">
                                                {{ form_row(form.feature_text, {"attr" : {"class" : "form-control", "rows" : "4"} }) }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-2 control-label">Image:</label>
                                            <div class="col-md-10">
                                                {{ form_row(form.feature_image) }}
                                            </div>
                                        </div>
                                    </div>
                                    <span class="help-block">If you would like a banner image and text displayed at the top of this category page, enter it here. Else, leave it blank.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="portlet light">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-cogs"></i>Meta Details
                        </div>
                    </div>
                    <div class="portlet-body form">
                        <div class="form-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group col-md-12">
                                        <div class="form-group">
                                            <label class="col-md-2 control-label">Meta Keywords:</label>
                                            <div class="col-md-10">
                                                {{ form_row(form.slug.keywords, {"attr" : {"class" : "form-control"} }) }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-2 control-label">Meta Title:</label>
                                            <div class="col-md-10">
                                                {{ form_row(form.slug.title, {"attr" : {"class" : "form-control"} }) }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-2 control-label">Meta Description:</label>
                                            <div class="col-md-10">
                                                {{ form_row(form.slug.description, {"attr" : {"class" : "form-control"} }) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="portlet light">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-cogs"></i>Additional Details
                        </div>
                    </div>
                    <div class="portlet-body form">
                        <div class="form-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            {{ form_row(form.disabled, {"attr" : {"class" : "form-control"} }) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            {{ form_row(form.show_when_empty, {"attr" : {"class" : "form-control"} }) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            {{ form_row(form.show_children, {"attr" : {"class" : "form-control"} }) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="portlet light">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-cogs"></i>Display Options
                        </div>
                    </div>
                    <div class="portlet-body form">
                        <div class="form-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Desktop:</label>
                                        <div class="col-md-10">
                                            {{ form_row(form.desktop_layout, {"attr" : {"class" : "form-control"} }) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Tablet:</label>
                                        <div class="col-md-10">
                                            {{ form_row(form.tablet_layout, {"attr" : {"class" : "form-control"} }) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Mobile:</label>
                                        <div class="col-md-10">
                                            {{ form_row(form.mobile_layout, {"attr" : {"class" : "form-control"} }) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <span class="help-block">This is how many products / categories will display in a row for each device on this category page.</span>
                    </div>
                </div>
            </div>
        </div>
        {{ form_end(form) }}
    {% endblock content %}

    {% block scripts %}
        <script type="text/javascript">


            var $collectionHolder;


            var $addProductImageLink = $('<a href="#" class="add_image_link">Add an Image</a>');
            var $newLinkLi1 = $('<li></li>').append($addProductImageLink);

            jQuery(document).ready(function() {

                $collectionHolder1 = $('ul.productimage');

                $collectionHolder1.find('li').each(function() {
                    addProductImageFormDeleteLink($(this));
                });

                // add the "add a tag" anchor and li to the tags ul
                $collectionHolder1.append($newLinkLi1);

                // count the current form inputs we have (e.g. 2), use that as the new
                $collectionHolder1.data('index', $collectionHolder1.find(':input').length);

                $addProductImageLink.on('click', function(e) {
                    // prevent the link from creating a "#" on the URL
                    e.preventDefault();

                    // add a new tag form (see next code block)
                    addProductImageForm($collectionHolder1, $newLinkLi1);
                });
            });

            function addProductImageForm($collectionHolder, $newLinkLi) {
                // Get the data-prototype explained earlier
                var prototype = $collectionHolder.data('prototype');

                // get the new index
                var index = $collectionHolder.data('index');

                // Replace '__name__' in the prototype's HTML to
                // instead be a number based on how many items we have
                var newForm = prototype.replace(/__category_image__/g, index);

                // increase the index with one for the next item
                $collectionHolder.data('index', index + 1);

                // Display the form in the page in an li, before the "Add a tag" link li
                var $newFormLi = $('<li></li>').append(newForm);
                $newLinkLi.before($newFormLi);

                addProductImageFormDeleteLink($newFormLi);
            }

            function addProductImageFormDeleteLink($tagFormLi) {
                var $removeFormA = $('<a href="#">delete this Image</a>');
                $tagFormLi.append($removeFormA);

                $removeFormA.on('click', function(e) {
                    // prevent the link from creating a "#" on the URL
                    e.preventDefault();

                    // remove the li for the tag form
                    $tagFormLi.remove();
                });
            }

        </script>
    {% endblock scripts %}