{% extends "eezeecommerceAdminBundle::layout.html.twig" %}

{% block title %}Staff Panel | Add / Modify New Discount - Eezee Commerce Ltd Ecommerce Platform{% endblock title %}

{% set super_route = "webstore" %}

{% block extrastylesheets %}
    {% stylesheets
    '@eezeecommerceAdminBundle/Resources/public/vendor/jstree/dist/themes/default/style.css' filter="?cssrewrite"
    %}
    <link href="{{ asset_url }}" rel="stylesheet">
    {% endstylesheets %}
{% endblock extrastylesheets %}

{% block content %}
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="{{ path('_eezeecommerce_admin_homepage') }}">Dashboard</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <i class="fa fa-money"></i>
                <a href="#">Discounts</a>
            </li>
        </ul>
    </div>
    <h3 class="page-title">
        Add / Modify Discounts
    </h3>

    {{  form_start(form) }}
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-cogs"></i>Discount Structure
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="form-body">
                        <div class="row">
                            <div class="form-group">
                                <label class="col-md-2 control-label">Discount Name</label>
                                <div class="col-md-10">
                                    {{ form_row(form.name, {"attr" : {"class" : "form-control"} }) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Discount Type</label>
                                <div class="col-md-10">
                                    {{ form_row(form.type, {"attr" : {"class" : "form-control"} }) }}
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-2 control-label">Discount Action</label>
                                <div class="col-md-10">
                                    {{ form_row(form.action, {"attr" : {"class" : "form-control"} }) }}
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-2 control-label">Discount role</label>
                                <div class="col-md-10">
                                    {{ form_row(form.discount_method, {"attr" : {"class" : "form-control"} }) }}
                                </div>
                            </div>


                        </div>
                        {%  if form.discount_amount is defined %}
                            <div class="row">
                                <div class="col-md-12">
                                    <ul id="discount_amount" class="discount_amount" data-prototype="{{ form_widget(form.discount_amount.vars.prototype)|e }}">
                                        {% for amounts in form.discount_amount %}
                                            <li>
                                                {{ form_errors(amounts) }}
                                                {{ form_widget(amounts) }}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}

{% endblock content %}

{% block scripts %}
    <script type="text/javascript">


        var $collectionHolder;

        // setup an "add a tag" link
        var $addVariantLink = $('<a href="#" class="add_discount_link">Add a discount structure</a>');
        var $newLinkLi = $('<li></li>').append($addVariantLink);

        jQuery(document).ready(function () {

            // Get the ul that holds the collection of tags
            $collectionHolder = $('ul.discount_amount');

            $collectionHolder.find('li').each(function () {
                addVariantFormDeleteLink($(this));
            });

            // add the "add a tag" anchor and li to the tags ul
            $collectionHolder.append($newLinkLi);

            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            $collectionHolder.data('index', $collectionHolder.find(':input').length);

            $addVariantLink.on('click', function (e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // add a new tag form (see next code block)
                addVariantForm($collectionHolder, $newLinkLi);
            });
        });

        function addVariantForm($collectionHolder, $newLinkLi) {
            // Get the data-prototype explained earlier
            var prototype = $collectionHolder.data('prototype');

            // get the new index
            var index = $collectionHolder.data('index');

            // Replace '__name__' in the prototype's HTML to
            // instead be a number based on how many items we have
            var newForm = prototype.replace(/__discount_amounts__/g, index);

            // increase the index with one for the next item
            $collectionHolder.data('index', index + 1);

            // Display the form in the page in an li, before the "Add a tag" link li
            var $newFormLi = $('<li></li>').append(newForm);
            $newLinkLi.before($newFormLi);

            addVariantFormDeleteLink($newFormLi);
        }

        function addVariantFormDeleteLink($tagFormLi) {
            var $removeFormA = $('<a href="#">delete this discount structure</a>');
            $tagFormLi.append($removeFormA);

            $removeFormA.on('click', function (e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // remove the li for the tag form
                $tagFormLi.remove();
            });
        }

    </script>

{% endblock scripts %}