{% extends "eezeecommerceAdminBundle::layout.html.twig" %}

{% block title %}Staff Panel | Add / Modify Discount Code - Eezee Commerce Ltd Ecommerce Platform{% endblock title %}

{% set super_route = "webstore" %}

{% block extrastylesheets %}
    {% stylesheets
    '@eezeecommerceAdminBundle/Resources/public/vendor/jstree/dist/themes/default/style.css' filter="?cssrewrite"
    %}
    <link href="{{ asset_url }}" rel="stylesheet">
    {% endstylesheets %}
{% endblock extrastylesheets %}

{% block content %}
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="{{ path('_eezeecommerce_admin_homepage') }}">Dashboard</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <i class="fa fa-money"></i>
                <a href="#">Discount Code</a>
            </li>
        </ul>
    </div>
    <h3 class="page-title">
        Discount Code
    </h3>

    {{  form_start(form) }}
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-cogs"></i>New Discount  Code
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="form-body">
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-12">
                                    {{ form_row(form.code, {"attr" : {"class" : "form-control"} }) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    {{ form_row(form.percentage_off, {"attr" : {"class" : "form-control"} }) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    {{ form_row(form.start) }}
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-12">
                                    {{ form_row(form.end) }}
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}

{% endblock content %}