{% extends "eezeecommerceAdminBundle::layout.html.twig" %}

{% block title %}Staff Panel | View Discounts - Eezee Commerce Ltd Ecommerce Platform{% endblock title %}

{% set super_route = "webstore" %}

{% block extrastylesheets %}
    {% stylesheets
    '@eezeecommerceAdminBundle/Resources/public/vendor/jstree/dist/themes/default/style.css' filter="?cssrewrite"
    %}
    <link href="{{ asset_url }}" rel="stylesheet">
    {% endstylesheets %}
{% endblock extrastylesheets %}

{% block content %}
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="{{ path('_eezeecommerce_admin_homepage') }}">Dashboard</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <i class="fa fa-money"></i>
                <a href="#">Discounts</a>
            </li>
        </ul>
    </div>
    <h3 class="page-title">
        Discounts
    </h3>
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-cogs"></i>Discount Codes
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-3">
                                <h4>
                                    Discounts
                                </h4>
                                <p>
                                    Add a new discount or edit/remove an existing one.
                                </p>
                                <a href="{{ path('_eezeecommerce_admin_webstore_discount_codes_add') }}" class="btn btn-default">
                                    Add New Discount Code
                                </a>
                            </div>
                            <div class="col-md-9">
                                {% for codes in discountCodes %}
                                    <div class="portlet">
                                        <div class="portlet-title">
                                            <div class="caption">
                                                <i class="fa fa-truck"></i>{{ codes.code }} <small> - {{ codes.percentageOff }}% <small>({{ codes.start | date }} - {{ codes.end | date}})</small></small>
                                                <small><small>- <a href="{{ path('_eezeecommerce_admin_webstore_discount_codes_modify', {"id": codes.id}) }}">edit</a></small></small>
                                                <small><small> or <a href="{{ path('_eezeecommerce_admin_webstore_discount_codes_delete', {"id": codes.id}) }}">delete</a></small></small>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-cogs"></i>General Discounts
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="form-body">
                    <div class="row">
                        <div class="col-md-3">
                            <h4>
                                Discounts
                            </h4>
                            <p>
                                Add a new discount or edit/remove an existing one.
                            </p>
                            <a href="{{ path('_eezeecommerce_admin_webstore_discounts_add') }}" class="btn btn-default">
                                Add New Discount
                            </a>
                        </div>
                        <div class="col-md-9">
                            {% for discount in discounts %}
                                <div class="portlet">
                                    <div class="portlet-title">
                                        <div class="caption">
                                            <i class="fa fa-truck"></i>{{ discount.name }} <small>({{ discount.discountMethod.type }})</small>
                                            <small><small>- <a href="{{ path('_eezeecommerce_admin_webstore_discounts_modify', {"id": discount.id}) }}">edit</a></small></small>
                                            <small><small> or <a href="{{ path('_eezeecommerce_admin_webstore_discounts_delete', {"id": discount.id}) }}">delete</a></small></small>
                                        </div>
                                    </div>
                                </div>
                                <div class="portlet-body">
                                    <div class="col-md-11 col-md-offset-1">
                                        <table class="table table-hover">
                                            <thead>
                                            <tr>
                                                <th>
                                                    Price Bracket
                                                </th>
                                                <th>
                                                    Percentage/Amount off
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for amount in discount.discountAmount %}
                                                <tr class="odd gradeX">
                                                    <td>
                                                        {{ render(controller('eezeecommerceAdminBundle:Menu:getCurrencyCode')) }}{{ amount.total | number_format(2, '.','') }}
                                                    </td>
                                                    <td>
                                                        {{ amount.discountAmount | number_format(0, '.','') }}{% if discount.type == "percentage" %}%{% endif %} off
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}