{% extends "eezeecommerceAdminBundle::layout.html.twig" %}

{% block title %}Staff Panel | Add New Product Option - Eezee Commerce Ltd Ecommerce Platform{% endblock title %}

{% set super_route = "products" %}

{% block extrastylesheets %}
    {% stylesheets
    '@eezeecommerceAdminBundle/Resources/public/vendor/dropzone/css/dropzone.css' filter="?cssrewrite"
    '@eezeecommerceAdminBundle/Resources/public/vendor/bootstrap-select/css/bootstrap-select.min.css' filter="?cssrewrite"
    '@eezeecommerceAdminBundle/Resources/public/vendor/jquery-multi-select/css/multi-select.css' filter="?cssrewrite"
    '@eezeecommerceAdminBundle/Resources/public/vendor/select2/css/select2.min.css' filter="?cssrewrite"
    '@eezeecommerceAdminBundle/Resources/public/vendor/select2/css/select2-bootstrap.min.css' filter="?cssrewrite" %}
    <link href="{{ asset_url }}" rel="stylesheet">
    {% endstylesheets %}
{% endblock extrastylesheets %}

{% block content %}
    {% form_theme form 'eezeecommerceAdminBundle:Templates:jquery.collection.html.twig' %}
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="{{ path('_eezeecommerce_admin_homepage') }}">Dashboard</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <i class="fa fa-tags"></i>
                <a href="{{ path('_eezeecommerce_admin_webstore_category') }}">Categories</a>
            </li>
            <li>
                <i class="fa fa-tags"></i>
                <a href="">Add Price Filter</a>
            </li>
        </ul>
    </div>
    <h3 class="page-title">
        Add Price Filter
    </h3>

    <div class="row">
        {{ form_start(form, {"attr" : {"role": "form"} }) }}
        <div class="col-md-8">
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-globe"></i>Price Filter
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="form-body">
                        <div class="row">
                            <div class="form-group">
                                <label class="col-md-2 control-label">Minimum Filter:</label>
                                <div class="col-md-10">
                                    {{ form_row(form.min, {"attr" : {"class" : "form-control"} }) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Maximum Filter:</label>
                                <div class="col-md-10">
                                    {{ form_row(form.max, {"attr" : {"class" : "form-control"} }) }}
                                </div>
                            </div>
                            <div class="form-group center">
                                <input class="btn btn-success center-block" type="submit" value="Submit"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="portlet light">
                <div class="portlet-title">
                </div>
                <div class="portlet-body">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                Categories
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div class="profile-desc-link">
                                <div class="col-md-12">
                                    {{ form_row(form.category, {"attr" : {"class" : "multi-select"} }) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock content %}
{% block scripts %}
    {% javascripts
    '@eezeecommerceAdminBundle/Resources/public/js/components-editors.js'
    '@eezeecommerceAdminBundle/Resources/public/vendor/dropzone/dropzone.js'
    '@eezeecommerceAdminBundle/Resources/public/js/form-dropzone.js'
    '@eezeecommerceAdminBundle/Resources/public/vendor/bootstrap-select/js/bootstrap-select.min.js'
    '@eezeecommerceAdminBundle/Resources/public/vendor/jquery-multi-select/js/jquery.multi-select.js'
    '@eezeecommerceAdminBundle/Resources/public/vendor/select2/js/select2.full.min.js' %}
    <script src="{{ asset_url }}"></script>

    {% endjavascripts %}

    <script>
    jQuery(document).ready(function () {
        
        $('.multi-select').multiSelect({
            selectableHeader: "<div class='custom-header'>Available</div>",
            selectionHeader: "<div class='custom-header'>Selected</div>",
        });
    });

    </script>

{% endblock scripts %}