{% extends "eezeecommerceAdminBundle::layout.html.twig" %}

{% block title %}Staff Panel | View Price Filters - Eezee Commerce Ltd Ecommerce Platform{% endblock title %}

{% set super_route = "products" %}

{% block extrastylesheets %}
    {% stylesheets
        '@eezeecommerceAdminBundle/Resources/public/vendor/datatables/datatables.css' filter="?cssrewrite"
        '@eezeecommerceAdminBundle/Resources/public/vendor/datatables/plugins/bootstrap/datatables.bootstrap.css' filter="?cssrewrite"
    %}
    <link href="{{ asset_url }}" rel="stylesheet">
    {% endstylesheets %}
{% endblock extrastylesheets %}

{% block content %}
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="{{ path('_eezeecommerce_admin_homepage') }}">Dashboard</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <i class="fa fa-tags"></i>
                <a href="{{ path('_eezeecommerce_admin_webstore_category') }}">Categories</a>
            </li>
            <li>
                <i class="fa fa-tags"></i>
                <a href="">Price Filters</a>
            </li>
        </ul>
    </div>
    <h3 class="page-title">
        Filters
    </h3>
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box grey-cascade">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-globe"></i>Category Price Filters
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="table-toolbar">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="btn-group">
                                    <a href="{{ path("_eezeecommerce_admin_webstore_category_price_add") }}">
                                        <button id="sample_editable_1_new" class="btn green">
                                            Add New Category Filter <i class="fa fa-plus"></i>
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <table class="table table-striped table-bordered table-hover order-column no-footer" id="product-table">
                        <thead>
                            <tr>
                                <th>

                                </th>
                                <th>
                                    Min
                                </th>
                                <th>
                                    Max
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for filter in filters %}
                                <tr>
                                    <td>
                                        <a href="{{ path("_eezeecommerce_admin_webstore_category_price_edit", {id: filter.id}) }}" >Edit</a>
                                    </td>
                                    <td>
                                        {{ filter.min }}
                                    </td>
                                    <td>
                                        {{ filter.max }}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block scripts %}
    {% javascripts
        '@eezeecommerceAdminBundle/Resources/public/js/datatable.js'
        '@eezeecommerceAdminBundle/Resources/public/vendor/datatables/datatables.min.js'
        '@eezeecommerceAdminBundle/Resources/public/vendor/datatables/plugins/bootstrap/datatables.bootstrap.js'
        '@eezeecommerceAdminBundle/Resources/public/js/table-datatables-managed.min.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %} 

    <script>
        $(document).ready(function () {

            $('#product-table').DataTable();

        });
    </script>
{% endblock scripts %}