{% extends "eezeecommerceAdminBundle::layout.html.twig" %}

{% block title %}Staff Panel | View Disabled Products - Eezee Commerce Ltd Ecommerce Platform{% endblock title %}

{% set super_route = "products" %}

{% block extrastylesheets %}
    {% stylesheets
        '@eezeecommerceAdminBundle/Resources/public/vendor/datatables/datatables.css' filter="?cssrewrite"
        '@eezeecommerceAdminBundle/Resources/public/vendor/datatables/plugins/bootstrap/datatables.bootstrap.css' filter="?cssrewrite"
    %}
    <link href="{{ asset_url }}" rel="stylesheet">
    {% endstylesheets %}
{% endblock extrastylesheets %}

{% block content %}
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="{{ path('_eezeecommerce_admin_homepage') }}">Dashboard</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <i class="fa fa-tags"></i>
                <a href="{{ path('_eezeecommerce_admin_products_index') }}">Products</a>
            </li>
        </ul>
    </div>
    <h3 class="page-title">
        Disabled Products
    </h3>
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box grey-cascade">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-globe"></i>Disabled Products List
                    </div>
                </div>
                <div class="portlet-body">
                    <table class="table table-striped table-responsive table-bordered table-hover order-column" id="product-table">
                        <thead>
                        <tr>
                            <th>
                                id
                            </th>
                            <th>
                                Product
                            </th>
                            <th>
                                Stock Code
                            </th>
                            <th>
                                Bay Number
                            </th>
                            <th>
                                SKU
                            </th>
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block scripts %}
    {% javascripts
        '@eezeecommerceAdminBundle/Resources/public/js/datatable.js'
        '@eezeecommerceAdminBundle/Resources/public/vendor/datatables/datatables.min.js'
        '@eezeecommerceAdminBundle/Resources/public/vendor/datatables/plugins/bootstrap/datatables.bootstrap.js'
        '@eezeecommerceAdminBundle/Resources/public/js/table-datatables-managed.min.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}


    <script>
        $(document).ready(function () {

            $('#product-table').DataTable({
                "ajax": "{{ path("_eezeecommerce_admin_product_disabled_index_ajax") }}",
                columnDefs: [
                    {targets: [0], visible: false},
                    {targets: '_all', visible: true}
                ]
            });

        });
    </script>
{% endblock scripts %}