{% extends "eezeecommerceAdminBundle::layout.html.twig" %}

{% block title %}Staff Panel | View Stock Inventory - Eezee Commerce Ltd Ecommerce Platform{% endblock title %}

{% trans_default_domain "products" %}

{% set super_route = "products" %}

{% block extrastylesheets %}
    {% stylesheets
        '@eezeecommerceAdminBundle/Resources/public/vendor/datatables/datatables.css' filter="?cssrewrite"
        '@eezeecommerceAdminBundle/Resources/public/vendor/datatables/plugins/bootstrap/datatables.bootstrap.css' filter="?cssrewrite"
    %}
    <link href="{{ asset_url }}" rel="stylesheet">
    {% endstylesheets %}
{% endblock extrastylesheets %}

{% block content %}
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="{{ path("_eezeecommerce_admin_homepage") }}">Dashboard</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <i class="fa fa-tags"></i>
                <a href="{{ path("_eezeecommerce_admin_products_index") }}">Products</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <i class="fa fa-tags"></i>
                <a href="#">Product Inventory</a>
            </li>
        </ul>
    </div>
    <!-- BEGIN PAGE HEADER-->
    <h3 class="page-title">
        Stock / Inventory
    </h3>
    <!-- END PAGE HEADER-->
    <!-- BEGIN PAGE CONTENT-->
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN EXAMPLE TABLE PORTLET-->
            <div class="portlet box grey-cascade">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-globe"></i>Inventory List
                    </div>
                </div>
                <div class="portlet-body">
                    <table class="table table-striped table-bordered table-hover" id="product-table">
                        <thead>
                            <tr>
                                <th class="table-checkbox">
                                    <input type="checkbox" class="group-checkable" data-set="#sample_1 .checkboxes"/>
                                </th>
                                <th>

                                </th>
                                <th>
                                    Item
                                </th>
                                <th>
                                    Stock Code
                                </th>
                                <th>
                                    Bay Number
                                </th>
                                <th>
                                    SKU
                                </th>
                                <th>
                                    When sold out
                                </th>
                                <th>
                                    Stock
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in stock %}
                                <tr class="odd gradeX">
                                    <td>
                                        <input type="checkbox" class="checkboxes" value="1"/>
                                    </td>
                                    <td>

                                    </td>
                                    <td>
                                        {% if item.product is defined and item.product is not empty %}
                                            {{ item.product.productName }}
                                        {% else %}
                                            <i>-- {{ item.variant.productName }} (variant)</i>
                                            {% endif %}
                                    </td>
                                    <td>
                                        {% if item.product is defined and item.product is not empty %}
                                            {{ item.product.stockCode }}
                                        {% else %}
                                            {{ item.variant.stockCode }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if item.product is defined and item.product is not empty %}
                                            {{ item.product.bayNumber }}
                                        {% else %}
                                            {{ item.variant.bayNumber }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if item.product is defined and item.product is not empty %}
                                            {{ item.product.sku }}
                                        {% else %}
                                            {{ item.variant.sku }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if item.stopBackorder == 1 %}
                                            <strong>Stop Selling</strong>
                                        {% else %}
                                            Keep Selling
                                        {% endif %}
                                    </td>
                                    <td>
                                        <strong>
                                            {% if item.overrideOutOfStock == 1 %}
                                                <span class="font-red-soft">{{ item.currentStock }} - <strong>OUT OF STOCK</strong></span>
                                            {% elseif item.currentStock < 1 %}
                                                <span class="font-red-soft">{{ item.currentStock }}</span>
                                            {% elseif item.currentStock < 10 %}
                                                <span class="font-yellow-crusta">{{ item.currentStock }}</span>
                                            {% else %}
                                                <span class="font-green-haze">{{ item.currentStock }}</span>
                                            {% endif %}
                                        </strong>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- END EXAMPLE TABLE PORTLET-->
        </div>
    </div>
{% endblock content %}

{% block scripts %}
    {% javascripts
        '@eezeecommerceAdminBundle/Resources/public/js/datatable.js'
        '@eezeecommerceAdminBundle/Resources/public/vendor/datatables/datatables.min.js'
        '@eezeecommerceAdminBundle/Resources/public/vendor/datatables/plugins/bootstrap/datatables.bootstrap.js'
        '@eezeecommerceAdminBundle/Resources/public/js/table-datatables-managed.min.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %} 

    <script>
        $(document).ready(function () {

            $('#product-table').DataTable();

        });
    </script>
{% endblock scripts %}