{% extends "eezeecommerceAdminBundle::layout.html.twig" %}

{% block title %}Staff Panel | Add New Product - Eezee Commerce Ltd Ecommerce Platform{% endblock title %}

{% set super_route = "products" %}

    {% block extrastylesheets %}
        {% stylesheets
        '@eezeecommerceAdminBundle/Resources/public/vendor/dropzone/css/dropzone.css' filter="?cssrewrite"
        '@eezeecommerceAdminBundle/Resources/public/vendor/bootstrap-select/css/bootstrap-select.min.css' filter="?cssrewrite"
        '@eezeecommerceAdminBundle/Resources/public/vendor/jquery-multi-select/css/multi-select.css' filter="?cssrewrite"
        '@eezeecommerceAdminBundle/Resources/public/vendor/select2/css/select2.min.css' filter="?cssrewrite"
        '@eezeecommerceAdminBundle/Resources/public/vendor/select2/css/select2-bootstrap.min.css' filter="?cssrewrite"
        '@eezeecommerceAdminBundle/Resources/public/vendor/bootstrap-tagsinput/bootstrap-tagsinput.css' filter="?cssrewrite"
        '@eezeecommerceAdminBundle/Resources/public/vendor/typeahead/typeahead.css' filter="?cssrewrite"
        %}
        <link href="{{ asset_url }}" rel="stylesheet">
        {% endstylesheets %}
    {% endblock extrastylesheets %}

    {% block content %}
        {% form_theme form 'eezeecommerceAdminBundle:Templates:jquery.collection.html.twig' %}
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="{{ path("_eezeecommerce_admin_homepage") }}">Dashboard</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <i class="fa fa-tag"></i>
                    <a href="{{ path("_eezeecommerce_admin_products_index") }}">Products</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <i class="fa fa-check"></i>
                    <a href="#">Add new Product</a>
                </li>
            </ul>
        </div>
        <h3 class="page-title">
            Add new Product
        </h3>

        <div class="row">
            {{ form_start(form, {"attr" : {"role": "form"} }) }}
            <div class="col-md-8">
                <div class="portlet light">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-globe"></i>Product Details
                        </div>
                    </div>
                    <div class="portlet-body form">
                        <div class="form-body">
                            <div class="row">
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Product Title:</label>
                                    <div class="col-md-10">
                                        {{ form_row(form.product_name, {"attr" : {"class" : "form-control"} }) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Product Short Description:</label>
                                    <div class="col-md-10">
                                        {{ form_row(form.short_description, {"attr" : {"class" : "form-control"} }) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Product Description:</label>
                                    <div class="col-md-10">
                                        {{ form_row(form.long_description, {"attr" : {"class" : "form-control"} }) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="portlet light">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-globe"></i>Product Images
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row productimage">
                                    <div class="col-md-12">
                                        <ul id="productimage" class="productimage"
                                            data-prototype="{{ form_widget(form.image.vars.prototype)|e }}">
                                            {% for imageField in form.image %}
                                                <li>
                                                    {{ form_errors(imageField) }}
                                                    {{ form_widget(imageField) }}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="portlet light">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-globe"></i>Product Pricing
                        </div>
                    </div>
                    <div class="portlet-body form">
                        <div class="form-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Product Base Price:</label>
                                        <div class="col-md-8 input-icon">
                                            <div> </div>
                                            {{ form_row(form.base_price, {"attr" : {"class" : "form-control"} }) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="portlet light">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-globe"></i>Stock / Inventory
                        </div>
                    </div>
                    <div class="portlet-body form">
                        <div class="form-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">SKU: <small>(Stock Keeping Unit)</small></label>
                                        <div class="col-md-8">
                                            {{ form_row(form.sku, {"attr" : {"class" : "form-control"} }) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Stock Code:</label>
                                        <div class="col-md-8">
                                            {{ form_row(form.stock_code, {"attr" : {"class" : "form-control"} }) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Total Amount in Stock</label>
                                        <div class="col-md-8">
                                            {{ form_row(form.stock.stock, {"attr" : {"class" : "form-control"} }) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="col-md-8">
                                        {{ form_row(form.stock.stop_backorder) }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Internal Location Number / Bay Number</label>
                                        <div class="col-md-8">
                                            {{ form_row(form.bay_number, {"attr" : {"class" : "form-control"} }) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="col-md-8">
                                        {{ form_row(form.stock.override_out_of_stock) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="portlet light">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-globe"></i>Shipping / Weights
                        </div>
                    </div>
                    <div class="portlet-body form">
                        <div class="form-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Weight: <small>(kg)</small></label>
                                        <div class="col-md-8">
                                            {{ form_row(form.weight, {"attr" : {"class" : "form-control"} }) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Boxed Dimensions:</label>
                                        <div class="col-md-3">
                                            {{ form_row(form.length, {"attr" : {"class" : "form-control", "placeholder": "length (cm)" } }) }}
                                        </div>
                                        <div class="col-md-3">
                                            {{ form_row(form.depth, {"attr" : {"class" : "form-control", "placeholder": "depth (cm)" } }) }}
                                        </div>
                                        <div class="col-md-3">
                                            {{ form_row(form.height, {"attr" : {"class" : "form-control", "placeholder": "height (cm)" } }) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="portlet light">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-globe"></i>Variants
                        </div>
                    </div>
                    <div class="portlet-body form">
                        <div class="form-body">
                            <div class="row variants">
                                <div class="col-md-12">
                                    <ul id="variants" class="variants"
                                        data-prototype="{{ form_widget(form.variants.vars.prototype)|e }}">
                                        {% for variantField in form.variants %}
                                            <li>
                                                {{ form_errors(variantField) }}
                                                {{ form_widget(variantField) }}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                    <a href="#" id="add-another-variant">Add Another Variant</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="portlet light">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-globe"></i>Attributes
                        </div>
                    </div>
                    <div class="portlet-body form">
                        <div class="form-body">
                            <div class="row variants">
                                <div class="col-md-12">
                                    <ul id="attribute" class="attribute"
                                        data-prototype="{{ form_widget(form.attribute.vars.prototype)|e }}">
                                        {% for attributeField in form.attribute %}
                                            <li>
                                                {{ form_errors(attributeField) }}
                                                {{ form_widget(attributeField) }}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                    <a href="#" id="add-another-attribute">Add Another Attribute</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="portlet light">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-globe"></i>Web Page Details
                        </div>
                    </div>
                    <div class="portlet-body form">
                        <div class="form-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Page Title:</label>
                                        <div class="col-md-9">
                                            {{ form_row(form.uri.title, {"attr" : {"class" : "form-control"} }) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Page Descrption:</label>
                                        <div class="col-md-9">
                                            {{ form_row(form.uri.description, {"attr" : {"class" : "form-control"} }) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Page Keywords:</label>
                                        <div class="col-md-9">
                                            {{ form_row(form.uri.keywords, {"attr" : {"class" : "form-control"} }) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="portlet light">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-user font-blue-soft"></i>
                            <span class="caption-subject font-blue-soft bold uppercase">Webstore Categories</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="panel-body">
                            <div class="profile-desc-link">
                                <div class="col-md-12">
                                    {{ form_row(form.category, {"attr" : {"class" : "multi-select"} }) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="portlet light">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-user font-blue-soft"></i>
                            <span class="caption-subject font-blue-soft bold uppercase">Product Options</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="panel-body">
                            <div class="profile-desc-link">
                                <div class="col-md-12">
                                    {{ form_row(form.options, {"attr" : {"class" : "multi-select"} }) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="portlet light">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-user font-blue-soft"></i>
                            <span class="caption-subject font-blue-soft bold uppercase">Override Turnaround Time (optional)</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="panel-body">
                            <div class="profile-desc-link">
                                <div class="col-md-6">
                                    {{ form_row(form.turnaround_min_override, {"attr" : {"class" : "form-control"} }) }}
                                </div>
                                <div class="col-md-6">
                                    {{ form_row(form.turnaround_max_override, {"attr" : {"class" : "form-control"} }) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="portlet light">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-user font-blue-soft"></i>
                            <span class="caption-subject font-blue-soft bold uppercase">Has the price been discounted?</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="panel-body">
                            <div class="profile-desc-link">
                                <label class="col-md-8 control-label">Has the price been discounted?</label>
                                <div class="col-md-4">
                                    {{ form_row(form.was, {"attr" : {"class" : "form-control"} }) }}
                                </div>
                                <label class="col-md-6 control-label">What was the price?</label>
                                <div class="col-md-6">
                                    {{ form_row(form.was_price, {"attr" : {"class" : "form-control"} }) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{ form_row(form.locale, {"attr" : {"class" : "hidden", "value" : "en"} }) }}
        {{ form_end(form) }}
    </div>
{% endblock content %}
{% block scripts %}
    {% javascripts
        '@eezeecommerceAdminBundle/Resources/public/js/components-editors.js'
        '@eezeecommerceAdminBundle/Resources/public/vendor/dropzone/dropzone.js'
        '@eezeecommerceAdminBundle/Resources/public/js/form-dropzone.js'
        '@eezeecommerceAdminBundle/Resources/public/vendor/bootstrap-select/js/bootstrap-select.min.js'
        '@eezeecommerceAdminBundle/Resources/public/vendor/jquery-multi-select/js/jquery.multi-select.js'
        '@eezeecommerceAdminBundle/Resources/public/vendor/select2/js/select2.full.min.js'
        '@eezeecommerceAdminBundle/Resources/public/vendor/bootstrap-tagsinput/bootstrap-tagsinput.js'
        '@eezeecommerceAdminBundle/Resources/public/js/scripts/components-bootstrap-tagsinput.js'
        '@eezeecommerceAdminBundle/Resources/public/vendor/typeahead/handlebars.min.js'
        '@eezeecommerceAdminBundle/Resources/public/vendor/typeahead/typeahead.bundle.js'
    %}
    <script src="{{ asset_url }}"></script>

    {% endjavascripts %}

    <script type="text/javascript">


        var $collectionHolder;
        var $collectionHolder1;
        var $collectionHolder2;

        // setup an "add a tag" link
        var $addVariantLink = $('<a href="#" class="add_variant_link">Add a Variant</a>');
        var $newLinkLi = $('<li></li>').append($addVariantLink);


        var $addProductImageLink = $('<a href="#" class="add_image_link">Add an Image</a>');
        var $newLinkLi1 = $('<li></li>').append($addProductImageLink);


        var $addAttributeLink = $('<a href="#" class="add_attribute_link">Add an Attribute</a>');
        var $newLinkLi2 = $('<li></li>').append($addAttributeLink);

        jQuery(document).ready(function() {
            $('.multi-select').multiSelect({
                selectableHeader: "<div class='custom-header'>Available</div>",
                selectionHeader: "<div class='custom-header'>Selected</div>",
            });

            // Get the ul that holds the collection of tags
            $collectionHolder = $('ul.variants');

            $collectionHolder1 = $('ul.productimage');

            $collectionHolder2 = $('ul.attribute');

            $collectionHolder.find('li').each(function() {
                addVariantFormDeleteLink($(this));
            });

            $collectionHolder1.find('li').each(function() {
                addProductImageFormDeleteLink($(this));
            });

            $collectionHolder2.find('li').each(function() {
                addAttributeFormDeleteLink($(this));
            });

            // add the "add a tag" anchor and li to the tags ul
            $collectionHolder.append($newLinkLi);
            $collectionHolder1.append($newLinkLi1);
            $collectionHolder2.append($newLinkLi2);

            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            $collectionHolder.data('index', $collectionHolder.find(':input').length);
            $collectionHolder1.data('index', $collectionHolder1.find(':input').length);
            $collectionHolder2.data('index', $collectionHolder2.find(':input').length);

            $addVariantLink.on('click', function(e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // add a new tag form (see next code block)
                addVariantForm($collectionHolder, $newLinkLi);
            });

            $addProductImageLink.on('click', function(e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // add a new tag form (see next code block)
                addProductImageForm($collectionHolder1, $newLinkLi1);
            });

            $addAttributeLink.on('click', function(e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // add a new tag form (see next code block)
                addAttributeForm($collectionHolder2, $newLinkLi2);
            });
        });

        function addVariantForm($collectionHolder, $newLinkLi) {
            // Get the data-prototype explained earlier
            var prototype = $collectionHolder.data('prototype');

            // get the new index
            var index = $collectionHolder.data('index');

            // Replace '__name__' in the prototype's HTML to
            // instead be a number based on how many items we have
            var newForm = prototype.replace(/__variant__/g, index);

            // increase the index with one for the next item
            $collectionHolder.data('index', index + 1);

            // Display the form in the page in an li, before the "Add a tag" link li
            var $newFormLi = $('<li></li>').append(newForm);
            $newLinkLi.before($newFormLi);

            addVariantFormDeleteLink($newFormLi);
        }

        function addVariantFormDeleteLink($tagFormLi) {
            var $removeFormA = $('<a href="#">delete this Variant</a>');
            $tagFormLi.append($removeFormA);

            $removeFormA.on('click', function(e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // remove the li for the tag form
                $tagFormLi.remove();
            });
        }

        function addAttributeForm($collectionHolder, $newLinkLi) {
            // Get the data-prototype explained earlier
            var prototype = $collectionHolder.data('prototype');

            // get the new index
            var index = $collectionHolder.data('index');

            // Replace '__name__' in the prototype's HTML to
            // instead be a number based on how many items we have
            var newForm = prototype.replace(/__attributes__/g, index);

            // increase the index with one for the next item
            $collectionHolder.data('index', index + 1);

            // Display the form in the page in an li, before the "Add a tag" link li
            var $newFormLi = $('<li></li>').append(newForm);
            $newLinkLi.before($newFormLi);

            addAttributeFormDeleteLink($newFormLi);
        }

        function addAttributeFormDeleteLink($tagFormLi) {
            var $removeFormA = $('<a href="#">Delete this Attribute</a>');
            $tagFormLi.append($removeFormA);

            $removeFormA.on('click', function(e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // remove the li for the tag form
                $tagFormLi.remove();
            });
        }

        function addProductImageForm($collectionHolder, $newLinkLi) {
            // Get the data-prototype explained earlier
            var prototype = $collectionHolder.data('prototype');

            // get the new index
            var index = $collectionHolder.data('index');

            // Replace '__name__' in the prototype's HTML to
            // instead be a number based on how many items we have
            var newForm = prototype.replace(/__product_image__/g, index);

            // increase the index with one for the next item
            $collectionHolder.data('index', index + 1);

            // Display the form in the page in an li, before the "Add a tag" link li
            var $newFormLi = $('<li></li>').append(newForm);
            $newLinkLi.before($newFormLi);

            addProductImageFormDeleteLink($newFormLi);
        }

        function addProductImageFormDeleteLink($tagFormLi) {
            var $removeFormA = $('<a href="#">delete this Image</a>');
            $tagFormLi.append($removeFormA);

            $removeFormA.on('click', function(e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // remove the li for the tag form
                $tagFormLi.remove();
            });
        }

    </script>

{% endblock scripts %}