{% extends "eezeecommerceAdminBundle::layout.html.twig" %}

{% block title %}Staff Panel | View Product Options - Eezee Commerce Ltd Ecommerce Platform{% endblock title %}

{% set super_route = "products" %}

{% block extrastylesheets %}
    {% stylesheets
        '@eezeecommerceAdminBundle/Resources/public/vendor/datatables/datatables.css' filter="?cssrewrite"
        '@eezeecommerceAdminBundle/Resources/public/vendor/datatables/plugins/bootstrap/datatables.bootstrap.css' filter="?cssrewrite"
    %}
    <link href="{{ asset_url }}" rel="stylesheet">
    {% endstylesheets %}
{% endblock extrastylesheets %}

{% block content %}
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="{{ path('_eezeecommerce_admin_homepage') }}">Dashboard</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <i class="fa fa-tags"></i>
                <a href="{{ path('_eezeecommerce_admin_products_index') }}">Products</a>
            </li>
            <li>
                <i class="fa fa-tags"></i>
                <a href="{{ path('_eezeecommerce_admin_products_index') }}">Product Options</a>
            </li>
        </ul>
    </div>
    <h3 class="page-title">
        Product Options
    </h3>
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box grey-cascade">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-globe"></i>Product Option List
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="table-toolbar">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="btn-group">
                                    <a href="{{ path('_eezeecommerce_admin_products_options_add') }}">
                                        <button id="sample_editable_1_new" class="btn green">
                                            Add New Product Option <i class="fa fa-plus"></i>
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <table class="table table-striped table-bordered table-hover table-checkable order-column no-footer" id="product-table">
                        <thead>
                            <tr>
                                <th>
                                    <input type="checkbox" class="group-checkable" data-set="#product_table .checkboxes"/>
                                </th>
                                <th>
                                    Product Option
                                </th>
                                <th>
                                    Stock Code
                                </th>
                                <th>
                                    Type
                                </th>
                                <th>
                                    Price
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for option in options %}
                                <tr>
                                    <td>
                                        <input type="checkbox" class="group-checkable" data-set="#product_table .checkboxes"/>
                                    </td>
                                    <td>
                                        <a href="{{path("_eezeecommerce_admin_products_options_modify", {'id': option.id} )}}">
                                            {{ option.name }}
                                        </a>
                                    </td>
                                    <td>
                                        {{ option.stockCode }}
                                    </td>
                                    <td>
                                        {% if option.type == "file" %}
                                            File Upload
                                        {% elseif option.type == "text" %}
                                            Text Input
                                        {% elseif option.type == "array" %}
                                            Multi Select
                                        {% elseif option.type == "textarea" %}
                                            Text Area
                                        {% endif %}
                                    </td>
                                    <td>
                                        {{ render(controller('eezeecommerceAdminBundle:Menu:getCurrencyCode')) }}{{ option.basePrice| number_format(2,'.','') }}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block scripts %}
    {% javascripts
        '@eezeecommerceAdminBundle/Resources/public/js/datatable.js'
        '@eezeecommerceAdminBundle/Resources/public/vendor/datatables/datatables.min.js'
        '@eezeecommerceAdminBundle/Resources/public/vendor/datatables/plugins/bootstrap/datatables.bootstrap.js'
        '@eezeecommerceAdminBundle/Resources/public/js/table-datatables-managed.min.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %} 

    <script>
        $(document).ready(function () {

            $('#product-table').DataTable();

        });
    </script>
{% endblock scripts %}