{% extends "eezeecommerceAdminBundle::layout.html.twig" %}

{% block title %}Staff Panel | Add New Product Option - Eezee Commerce Ltd Ecommerce Platform{% endblock title %}

{% set super_route = "products" %}

{% block extrastylesheets %}
    {% stylesheets
    '@eezeecommerceAdminBundle/Resources/public/vendor/dropzone/css/dropzone.css' filter="?cssrewrite"
    '@eezeecommerceAdminBundle/Resources/public/vendor/bootstrap-select/css/bootstrap-select.min.css' filter="?cssrewrite"
    '@eezeecommerceAdminBundle/Resources/public/vendor/jquery-multi-select/css/multi-select.css' filter="?cssrewrite"
    '@eezeecommerceAdminBundle/Resources/public/vendor/select2/css/select2.min.css' filter="?cssrewrite"
    '@eezeecommerceAdminBundle/Resources/public/vendor/select2/css/select2-bootstrap.min.css' filter="?cssrewrite" %}
    <link href="{{ asset_url }}" rel="stylesheet">
    {% endstylesheets %}
{% endblock extrastylesheets %}

{% block content %}
    {% form_theme form 'eezeecommerceAdminBundle:Templates:jquery.collection.html.twig' %}
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="{{ path('_eezeecommerce_admin_homepage') }}">Dashboard</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <i class="fa fa-tag"></i>
                <a href="{{ path('_eezeecommerce_admin_products_index') }}">Products</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <i class="fa fa-tags"></i>
                <a href="{{ path('_eezeecommerce_admin_products_index') }}">Product Options</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <i class="fa fa-check"></i>
                <a href="#">Add new Product Option</a>
            </li>
        </ul>
    </div>
    <h3 class="page-title">
        Add new Product Option
    </h3>

    <div class="row">
        {{ form_start(form, {"attr" : {"role": "form"} }) }}
        <div class="col-md-8">
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-globe"></i>Product Option Details
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="form-body">
                        <div class="row">
                            <div class="form-group">
                                <label class="col-md-2 control-label">Name:</label>
                                <div class="col-md-10">
                                    {{ form_row(form.name, {"attr" : {"class" : "form-control"} }) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Description:</label>
                                <div class="col-md-10">
                                    {{ form_row(form.description, {"attr" : {"class" : "form-control"} }) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Type:</label>
                                <div class="col-md-10">
                                    {{ form_row(form.type, {"attr" : {"class" : "form-control"} }) }}
                                </div>
                            </div>
                            <div class="form-group" id='textlength'>
                                <label class="col-md-2 control-label">Max Length:</label>
                                <div class="col-md-4">
                                    {{ form_row(form.max_length, {"attr" : {"class" : "form-control"} }) }}
                                </div>
                                <label class="col-md-2 control-label">Placeholder text:</label>
                                <div class="col-md-4">
                                    {{ form_row(form.placeholder, {"attr" : {"class" : "form-control"} }) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-10 col-md-offset-2">
                                    {{ form_row(form.optional) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div id='multiselect' class="portlet light" style='display:none;'>
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-globe"></i>Multi-select Options
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row optionchoices">
                                <div class="col-md-12">
                                    <ul id="optionchoices" class="optionchoices"
                                        data-prototype="{{ form_widget(form.option_choices.vars.prototype)|e }}">
                                        {% for choiceField in form.option_choices %}
                                            <li>
                                                {{ form_errors(choiceField) }}
                                                {{ form_widget(choiceField) }}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-globe"></i>Product Images
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row productimage">
                                <div class="col-md-12">
                                    <ul id="productimage" class="productimage"
                                        data-prototype="{{ form_widget(form.image.vars.prototype)|e }}">
                                        {% for imageField in form.image %}
                                            <li>
                                                {{ form_errors(imageField) }}
                                                {{ form_widget(imageField) }}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-globe"></i>Product Option Pricing
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Price:</label>
                                    <div class="col-md-8 input-icon">
                                        <div></div>
                                        {{ form_widget(form.base_price, {"attr" : {"class" : "form-control"} }) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-globe"></i>Stock / Inventory
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Internal Product Code</label>
                                    <div class="col-md-8">
                                        {{ form_row(form.stock_code, {"attr" : {"class" : "form-control"} }) }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Bay Number:
                                        <small>(if applicable)</small>
                                    </label>
                                    <div class="col-md-8">
                                        {{ form_row(form.bay_number, {"attr" : {"class" : "form-control"} }) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="portlet light">
                <div class="portlet-title">
                </div>
                <div class="portlet-body">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                Child Options
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div class="profile-desc-link">
                                <div class="col-md-12">
                                    {{ form_row(form.slaves, {"attr" : {"class" : "multi-select"} }) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{ form_row(form.locale, {"attr" : {"class" : "hidden", "value" : "en"} }) }}
        {{ form_end(form) }}
    </div>
{% endblock content %}
{% block scripts %}
    {% javascripts
    '@eezeecommerceAdminBundle/Resources/public/js/components-editors.js'
    '@eezeecommerceAdminBundle/Resources/public/vendor/dropzone/dropzone.js'
    '@eezeecommerceAdminBundle/Resources/public/js/form-dropzone.js'
    '@eezeecommerceAdminBundle/Resources/public/vendor/bootstrap-select/js/bootstrap-select.min.js'
    '@eezeecommerceAdminBundle/Resources/public/vendor/jquery-multi-select/js/jquery.multi-select.js'
    '@eezeecommerceAdminBundle/Resources/public/vendor/select2/js/select2.full.min.js' %}
    <script src="{{ asset_url }}"></script>

    {% endjavascripts %}

    <script type="text/javascript">


        var $collectionHolder;
        var $collectionHolder2;

        // setup an "add a tag" link
        var $addImageLink = $('<a href="#" class="add_variant_link">Add an Image</a>');
        var $newLinkLi = $('<li></li>').append($addImageLink);
        var $addOptionsLink = $('<a href="#" class="add_variant_link">Add an Option</a>');
        var $newLinkLi2 = $('<li></li>').append($addOptionsLink);

        jQuery(document).ready(function () {

            var selected = $("#eezeecommerce_productbundle_options_type").find("option:selected");
            if (selected.val() == "array") {
                $("#multiselect").slideDown();
            } else {
                $("#multiselect").slideUp();
            }
            if (selected.val() == "textarea" || selected.val() == "text") {
                $("#textlength").slideDown();
            } else {
                $("#textlength").slideUp();
            }

            $("#eezeecommerce_productbundle_options_type").on("change", function () {
                var selected = $(this).find("option:selected");
                if (selected.val() == "textarea" || selected.val() == "text") {
                    $("#textlength").slideDown();
                } else {
                    $("#textlength").slideUp();
                }

                if (selected.val() == "array") {
                    $("#multiselect").slideDown();
                } else {
                    $("#multiselect").slideUp();
                }
                ;
            });

            $('.multi-select').multiSelect({
                selectableHeader: "<div class='custom-header'>Available</div>",
                selectionHeader: "<div class='custom-header'>Selected</div>",
            });
            // Get the ul that holds the collection of tags
            $collectionHolder = $('ul.productimage');
            $collectionHolder2 = $('ul.optionchoices');
            $collectionHolder.find('li').each(function () {
                addImageFormDeleteLink($(this));
            });
            $collectionHolder2.find('li').each(function () {
                addOptionFormDeleteLink($(this));
            });
            // add the "add a tag" anchor and li to the tags ul
            $collectionHolder.append($newLinkLi);
            $collectionHolder2.append($newLinkLi2);
            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            $collectionHolder.data('index', $collectionHolder.find(':input').length);
            $collectionHolder2.data('index', $collectionHolder2.find(':input').length);
            $addImageLink.on('click', function (e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();
                // add a new tag form (see next code block)
                addImageForm($collectionHolder, $newLinkLi);
            });
            $addOptionsLink.on('click', function (e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();
                // add a new tag form (see next code block)
                addOptionForm($collectionHolder2, $newLinkLi2);
            });
        });
        function addImageForm($collectionHolder, $newLinkLi) {
            // Get the data-prototype explained earlier
            var prototype = $collectionHolder.data('prototype');
            // get the new index
            var index = $collectionHolder.data('index');
            // Replace '__name__' in the prototype's HTML to
            // instead be a number based on how many items we have
            var newForm = prototype.replace(/__productoption_image__/g, index);
            // increase the index with one for the next item
            $collectionHolder.data('index', index + 1);
            // Display the form in the page in an li, before the "Add a tag" link li
            var $newFormLi = $('<li></li>').append(newForm);
            $newLinkLi.before($newFormLi);
            addImageFormDeleteLink($newFormLi);
        }

        function addOptionForm($collectionHolder2, $newLinkLi2) {
            // Get the data-prototype explained earlier
            var prototype = $collectionHolder2.data('prototype');
            // get the new index
            var index = $collectionHolder2.data('index');
            // Replace '__name__' in the prototype's HTML to
            // instead be a number based on how many items we have
            var newForm = prototype.replace(/__productoption_option__/g, index);
            // increase the index with one for the next item
            $collectionHolder2.data('index', index + 1);
            // Display the form in the page in an li, before the "Add a tag" link li
            var $newFormLi = $('<li></li>').append(newForm);
            $newLinkLi2.before($newFormLi);
            addOptionFormDeleteLink($newFormLi);
        }

        function addImageFormDeleteLink($newFormLi) {
            var $removeFormA = $('<a href="#">Delete this Image</a>');
            $newFormLi.append($removeFormA);
            $removeFormA.on('click', function (e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();
                // remove the li for the tag form
                $newFormLi.remove();
            });
        }

        function addOptionFormDeleteLink($newFormLi) {
            var $removeFormA = $('<a href="#">Delete this Option</a>');
            $newFormLi.append($removeFormA);
            $removeFormA.on('click', function (e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();
                // remove the li for the tag form
                $newFormLi.remove();
            });
        }

    </script>

{% endblock scripts %}