{% extends "eezeecommerceAdminBundle::layout.html.twig" %}

{% block title %}Staff Panel | Checkout Settings - Eezee Commerce Ltd Ecommerce Platform{% endblock title %}

{% set super_route = "settings" %}

{% block content %}
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="{{ path('_eezeecommerce_admin_homepage') }}">Dashboard</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <i class="fa fa-cogs"></i>
                <a href="{{ path('_eezeecommerce_admin_settings_general') }}">Settings</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <i class="fa fa-cog"></i>
                <a href="#">Checkout Settings</a>
            </li>
        </ul>
        <div class="page-toolbar">
        </div>
    </div>
    <h3 class="page-title">
        Checkout Settings
    </h3>
    <div class="row">
        <div class="col-md-9">
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-cogs"></i>Checkout Settings
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="form-body">
                        <div class="row">
                            <form class="form-horizontal form-row-seperated">
                            <div class="form-group col-md-12">
                                {{ form_label(form.CheckoutRequireCompanyname, "Require Company Name", {"label_attr" : {"class": "control-label col-md-3"} }) }}
                                <div class="col-md-9">
                                    {{ form_row(form.CheckoutRequireCompanyname) }}
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                {{ form_label(form.CheckoutRequireAddress, "Require Address", {"label_attr" : {"class": "control-label col-md-3"} }) }}
                                <div class="col-md-9">
                                    {{ form_row(form.CheckoutRequireAddress) }}
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                {{ form_label(form.CheckoutRequirePhone, "Require Phone Number", {"label_attr" : {"class": "control-label col-md-3"} }) }}
                                <div class="col-md-9">
                                    {{ form_row(form.CheckoutRequirePhone) }}
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                {{ form_label(form.CheckoutUseBillingAsShippingDefault, "Use Billing as Shipping default", {"label_attr" : {"class": "control-label col-md-3"} }) }}
                                <div class="col-md-9">
                                    {{ form_row(form.CheckoutUseBillingAsShippingDefault) }}
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                {{ form_label(form.CheckoutShowNewsletter, "Show Newsletter opt-in", {"label_attr" : {"class": "control-label col-md-3"} }) }}
                                <div class="col-md-9">
                                    {{ form_row(form.CheckoutShowNewsletter) }}
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                {{ form_label(form.CheckoutAutoFulfill, "Automatically Fulfill Orders", {"label_attr" : {"class": "control-label col-md-3"} }) }}
                                <div class="col-md-9">
                                    {{ form_row(form.CheckoutAutoFulfill) }}
                                </div>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}