{% extends "eezeecommerceAdminBundle::layout.html.twig" %}

{% block title %}Staff Panel | General Settings - Eezee Commerce Ltd Ecommerce Platform{% endblock title %}

{% set super_route = "settings" %}

    {% block content %}
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="{{ path('_eezeecommerce_admin_homepage') }}">Dashboard</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <i class="fa fa-cog"></i>
                    <a href="#">General Settings</a>
                </li>
            </ul>
        </div>
        <h3 class="page-title">
            General Settings
        </h3>
        {{ form_start(form) }}
        <div class="row">
            <div class="col-md-8">
                <div class="portlet light">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-cogs"></i>Store Settings
                        </div>
                    </div>
                    <div class="portlet-body form">
                        <div class="form-body">
                            <div class="row">
                                <div class="form-group col-md-12">
                                    {{ form_label(form.store_name, "Store Name", {"label_attr" : {"class": "control-label col-md-3"} }) }}
                                    <div class="col-md-9">
                                        {{ form_widget(form.store_name, {"attr" : {"class": "form-control"} }) }}
                                        <span class="help-block">Your Store's name, for example: "Joe's Store"</span>
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    {{ form_label(form.legal_name, "Legal Name", {"label_attr" : {"class": "control-label col-md-3"} }) }}
                                    <div class="col-md-9">
                                        {{ form_widget(form.legal_name, {"attr" : {"class": "form-control"} }) }}
                                        <span class="help-block">Your Legal name, for example: "Joe's Wholesale Foods Ltd"</span>
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    {{ form_label(form.company_number, "Company Number", {"label_attr" : {"class": "control-label col-md-3"} }) }}
                                    <div class="col-md-9">
                                        {{ form_widget(form.company_number, {"attr" : {"class": "form-control"} }) }}
                                        <span class="help-block">Your Registered Company Number</span>
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    {{ form_label(form.vat_number, "Vat Number", {"label_attr" : {"class": "control-label col-md-3"} }) }}
                                    <div class="col-md-9">
                                        {{ form_widget(form.vat_number, {"attr" : {"class": "form-control"} }) }}
                                        <span class="help-block">Your VAT Number</span>
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    {{ form_label(form.business_contact_email, "Business Contact Email", {"label_attr" : {"class": "control-label col-md-3"} }) }}
                                    <div class="col-md-9">
                                        {{ form_widget(form.business_contact_email, {"attr" : {"class": "form-control"} }) }}
                                        <span class="help-block">The email address your customers will use to contact you</span>
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    {{ form_label(form.business_contact_phone, "Business Contact Phone", {"label_attr" : {"class": "control-label col-md-3"} }) }}
                                    <div class="col-md-9">
                                        {{ form_widget(form.business_contact_phone, {"attr" : {"class": "form-control"} }) }}
                                        <span class="help-block">The phone number your customers will use to contact you</span>
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    {{ form_label(form.business_url, "Business URL", {"label_attr" : {"class": "control-label col-md-3"} }) }}
                                    <div class="col-md-9">
                                        {{ form_widget(form.business_url, {"attr" : {"class": "form-control"} }) }}
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    {{ form_label(form.business_address_1, "Business Address 1", {"label_attr" : {"class": "control-label col-md-3"} }) }}
                                    <div class="col-md-9">
                                        {{ form_widget(form.business_address_1, {"attr" : {"class": "form-control"} }) }}
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    {{ form_label(form.business_address_2, "Business Address 2", {"label_attr" : {"class": "control-label col-md-3"} }) }}
                                    <div class="col-md-9">
                                        {{ form_widget(form.business_address_2, {"attr" : {"class": "form-control"} }) }}
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    {{ form_label(form.business_address_city, "Business Address City", {"label_attr" : {"class": "control-label col-md-3"} }) }}
                                    <div class="col-md-9">
                                        {{ form_widget(form.business_address_city, {"attr" : {"class": "form-control"} }) }}
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    {{ form_label(form.business_address_county, "Business Address County / State", {"label_attr" : {"class": "control-label col-md-3"} }) }}
                                    <div class="col-md-9">
                                        {{ form_widget(form.business_address_county, {"attr" : {"class": "form-control"} }) }}
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    {{ form_label(form.business_address_postcode, "Business Address Postcode", {"label_attr" : {"class": "control-label col-md-3"} }) }}
                                    <div class="col-md-9">
                                        {{ form_widget(form.business_address_postcode, {"attr" : {"class": "form-control"} }) }}
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    {{ form_label(form.business_address_country, "Business Address Country", {"label_attr" : {"class": "control-label col-md-3"} }) }}
                                    <div class="col-md-9">
                                        {{ form_widget(form.business_address_country, {"attr" : {"class": "form-control"} }) }}
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    {{ form_label(form.default_currency, "Default Currency", {"label_attr" : {"class": "control-label col-md-3"} }) }}
                                    <div class="col-md-9">
                                        {{ form_widget(form.default_currency, {"attr" : {"class": "form-control"} }) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="portlet light">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-cogs"></i>Additional Settings
                        </div>
                    </div>
                    <div class="portlet-body form">
                        <div class="form-body">
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <div class="col-md-12">
                                        {{ form_widget(form.category_show_empty, {"attr" : {"class": "form-control"} }) }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <div class="col-md-12">
                                        {{ form_widget(form.cart_enabled, {"attr" : {"class": "form-control"} }) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="portlet light">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-cogs"></i>Order Settings
                        </div>
                    </div>
                    <div class="portlet-body form">
                        <div class="form-body">
                            <div class="row">
                                <div class="form-group col-md-12">
                                    {{ form_label(form.order_prefix, "Order Prefix", {"label_attr" : {"class": "control-label col-md-3"} }) }}
                                    <div class="col-md-9">
                                        {{ form_widget(form.order_prefix, {"attr" : {"class": "form-control"} }) }}
                                        <span class="help-block">This will be displayed before your order numbers, for example "ABC" makes "ABC-1001"</span>
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    {{ form_label(form.order_suffix, "Order Suffix", {"label_attr" : {"class": "control-label col-md-3"} }) }}
                                    <div class="col-md-9">
                                        {{ form_widget(form.order_suffix, {"attr" : {"class": "form-control"} }) }}
                                        <span class="help-block">This will be displayed after your order numbers, for example "XYZ" makes "1001-XYZ"</span>
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    {{ form_label(form.min_turnaround_time, "Min turnaround", {"label_attr" : {"class": "control-label col-md-3"} }) }}
                                    <div class="col-md-9">
                                        {{ form_widget(form.min_turnaround_time, {"attr" : {"class": "form-control"} }) }}
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    {{ form_label(form.max_turnaround_time, "Max turnaround", {"label_attr" : {"class": "control-label col-md-3"} }) }}
                                    <div class="col-md-9">
                                        {{ form_widget(form.max_turnaround_time, {"attr" : {"class": "form-control"} }) }}
                                        <span class="help-block"> </span>
                                    </div>
                                </div>
                                {{ form_widget(form.default, {"attr" : {"class": "hidden", "value": "1"} }) }}
                            </div>
                        </div>
                    </div>
                </div>
                <input type="submit" class="btn btn-default" value="Save" />
            </div>
        </div>
        {{ form_end(form) }}
    {% endblock content %}