{% extends "eezeecommerceAdminBundle::layout.html.twig" %}

{% block title %}Staff Panel | Payment Settings - Eezee Commerce Ltd Ecommerce Platform{% endblock title %}

{% set super_route = "settings" %}

{% block content %}
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="{{ path('_eezeecommerce_admin_homepage') }}">Dashboard</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <i class="fa fa-cog"></i>
                <a href="{{ path('_eezeecommerce_admin_homepage') }}">Payments Settings</a>
            </li>
        </ul>
    </div>
    <h3 class="page-title">
        Payment Settings
    </h3>
    <div class="row">
        <div class="col-md-9">
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-cogs"></i>Payment Settings
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="form-body">
                        <div class="row">
                            <div class="form-group col-md-12">
                                {{ form_label(form.PaymentAutocapture, "Payment Autocapture", {"label_attr" : {"class": "control-label col-md-3"} }) }}
                                <div class="col-md-9">
                                    {{ form_row(form.PaymentAutocapture) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}