{% extends "eezeecommerceAdminBundle::layout.html.twig" %}

{% block title %}Staff Panel | Add New Customer Group - Eezee Commerce Ltd Ecommerce Platform{% endblock title %}

{% set super_route = "customers" %}

{% block content %}
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="{{ path('_eezeecommerce_admin_homepage') }}">Dashboard</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <i class="fa fa-users"></i>
                <a href="{{ path('_eezeecommerce_admin_customers_index') }}">Customers</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <i class="fa fa-users"></i>
                <a href="{{ path("_eezeecommerce_admin_customers_groups_index") }}">Customer Groups</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <i class="fa fa-plus"></i>
                <a href="#">Add Customer Groups</a>
            </li>
        </ul>
    </div>
    <h3 class="page-title">
        Add new Customer Group
    </h3>

    <div class="row">
        {{ form_start(form, {"attr" : {"role": "form"} }) }}
        <div class="col-md-8">
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-globe"></i>Customer Group Details
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="form-body">
                        <div class="row">
                            <div class="form-group">
                                <label class="col-md-2 control-label">Group Name:</label>
                                <div class="col-md-10">
                                    {{ form_row(form.name, {"attr" : {"class" : "form-control"} }) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-globe"></i>Group Specific Pricing
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="form-body">
                        <div class="row">
                            <ul id="variants" class="variants"
                                data-prototype="{{ form_widget(form.pricing.vars.prototype)|e }}">
                                {% for e in form.pricing %}
                                    <li>
                                        {{ form_errors(e) }}
                                        {{ form_widget(e) }}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock content %}

{% block scripts %}
    {% javascripts
    '@eezeecommerceAdminBundle/Resources/public/js/components-editors.js'
    '@eezeecommerceAdminBundle/Resources/public/vendor/dropzone/dropzone.js'
    '@eezeecommerceAdminBundle/Resources/public/js/form-dropzone.js'
    '@eezeecommerceAdminBundle/Resources/public/vendor/bootstrap-select/js/bootstrap-select.min.js'
    '@eezeecommerceAdminBundle/Resources/public/vendor/jquery-multi-select/js/jquery.multi-select.js'
    '@eezeecommerceAdminBundle/Resources/public/vendor/select2/js/select2.full.min.js'
    '@eezeecommerceAdminBundle/Resources/public/vendor/bootstrap-tagsinput/bootstrap-tagsinput.js'
    '@eezeecommerceAdminBundle/Resources/public/js/scripts/components-bootstrap-tagsinput.js'
    '@eezeecommerceAdminBundle/Resources/public/vendor/typeahead/handlebars.min.js'
    '@eezeecommerceAdminBundle/Resources/public/vendor/typeahead/typeahead.bundle.js' %}
    <script src="{{ asset_url }}"></script>


    {% endjavascripts %}

    <script type="text/javascript">


        var $collectionHolder;

        // setup an "add a tag" link
        var $addVariantLink = $('<a href="#" class="add_variant_link">Add a Variant</a>');
        var $newLinkLi = $('<li></li>').append($addVariantLink);

        jQuery(document).ready(function () {

            // Get the ul that holds the collection of tags
            $collectionHolder = $('ul.variants');

            $collectionHolder.find('li').each(function () {
                addVariantFormDeleteLink($(this));
            });

            // add the "add a tag" anchor and li to the tags ul
            $collectionHolder.append($newLinkLi);

            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            $collectionHolder.data('index', $collectionHolder.find(':input').length);

            $addVariantLink.on('click', function (e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // add a new tag form (see next code block)
                addVariantForm($collectionHolder, $newLinkLi);
            });
        });

        function addVariantForm($collectionHolder, $newLinkLi) {
            // Get the data-prototype explained earlier
            var prototype = $collectionHolder.data('prototype');

            // get the new index
            var index = $collectionHolder.data('index');

            // Replace '__name__' in the prototype's HTML to
            // instead be a number based on how many items we have
            var newForm = prototype.replace(/__pricing__/g, index);

            // increase the index with one for the next item
            $collectionHolder.data('index', index + 1);

            // Display the form in the page in an li, before the "Add a tag" link li
            var $newFormLi = $('<li></li>').append(newForm);
            $newLinkLi.before($newFormLi);

            addVariantFormDeleteLink($newFormLi);
        }

        function addVariantFormDeleteLink($tagFormLi) {
            var $removeFormA = $('<a href="#">delete this Variant</a>');
            $tagFormLi.append($removeFormA);

            $removeFormA.on('click', function (e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // remove the li for the tag form
                $tagFormLi.remove();
            });
        }

    </script>

{% endblock scripts %}