{% extends "eezeecommerceAdminBundle::layout.html.twig" %}

{% block title %}Staff Panel | Customer Groups - Eezee Commerce Ltd Ecommerce Platform{% endblock title %}

{% block extrastylesheets %}
    {% stylesheets
    '@eezeecommerceAdminBundle/Resources/public/vendor/datatables/datatables.css' filter="?cssrewrite"
    '@eezeecommerceAdminBundle/Resources/public/vendor/datatables/plugins/bootstrap/datatables.bootstrap.css' filter="?cssrewrite" %}
    <link href="{{ asset_url }}" rel="stylesheet">
    {% endstylesheets %}
{% endblock extrastylesheets %}

{% set super_route = "customers" %}

    {% block content %}
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="{{ path('_eezeecommerce_admin_homepage') }}">Dashboard</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <i class="fa fa-users"></i>
                    <a href="{{ path('_eezeecommerce_admin_customers_index') }}">Customers</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <i class="fa fa-users"></i>
                    <a href="#">Customer Groups</a>
                </li>
            </ul>
        </div>
        <!-- BEGIN PAGE HEADER-->
        <h3 class="page-title">
            Customer Groups
        </h3>
        <!-- END PAGE HEADER-->
        <!-- BEGIN PAGE CONTENT-->
        <div class="row">
            <div class="col-md-12">
                <!-- BEGIN EXAMPLE TABLE PORTLET-->
                <div class="portlet box grey-cascade">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-globe"></i>Customer Groups List
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="table-toolbar">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="btn-group">
                                        <a href="{{ path('_eezeecommerce_admin_customers_groups_add') }}">
                                            <button id="sample_editable_1_new" class="btn green">
                                                Add New Customer Group <i class="fa fa-plus"></i>
                                            </button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <table class="table table-striped table-bordered table-hover" id="customer-table">
                            <thead>
                            <tr>
                                <th>
                                    Name
                                </th>
                                <th>
                                    # Customers Assigned
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for item in customergroups %}
                                <tr>
                                    <td>
                                        <a href="{{ path("_eezeecommerce_admin_customers_groups_modify", {'id': item.id} ) }}">{{ item.name }}</a>
                                    </td>
                                    <td>
                                        {% set i = 0 %}
                                        {% for item in item.users %}
                                            {% set i = i + 1 %}
                                        {% endfor %}
                                        {{ i }}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- END EXAMPLE TABLE PORTLET-->
            </div>
        </div>
    {% endblock content %}

    {% block scripts %}
        {% javascripts
        '@eezeecommerceAdminBundle/Resources/public/js/datatable.js'
        '@eezeecommerceAdminBundle/Resources/public/vendor/datatables/datatables.min.js'
        '@eezeecommerceAdminBundle/Resources/public/vendor/datatables/plugins/bootstrap/datatables.bootstrap.js'
        '@eezeecommerceAdminBundle/Resources/public/js/table-datatables-managed.min.js' %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}

        <script>
            $(document).ready(function () {

                $('#customer-table').DataTable();

            });
        </script>
    {% endblock scripts %}