{% extends "eezeecommerceAdminBundle::layout.html.twig" %}

{% block title %}Staff Panel | View Shipped Orders - Eezee Commerce Ltd Ecommerce Platform{% endblock title %}

{% trans_default_domain "orders" %}

{% set super_route = "orders" %}

{% block extrastylesheets %}
    {% stylesheets
    '@eezeecommerceAdminBundle/Resources/public/vendor/datatables/datatables.css' filter="?cssrewrite"
    '@eezeecommerceAdminBundle/Resources/public/vendor/datatables/plugins/bootstrap/datatables.bootstrap.css' filter="?cssrewrite" %}
    <link href="{{ asset_url }}" rel="stylesheet">
    {% endstylesheets %}
{% endblock extrastylesheets %}

{% block content %}
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="{{ path('_eezeecommerce_admin_homepage') }}">Dashboard</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <i class="fa fa-shopping-cart"></i>
                <a href="#">Shipped Orders</a>
            </li>
        </ul>
    </div>
    <!-- BEGIN PAGE HEADER-->
    <h3 class="page-title">
        Shipped Orders
    </h3>
    <!-- END PAGE HEADER-->
    <!-- BEGIN PAGE CONTENT-->
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN EXAMPLE TABLE PORTLET-->
            <div class="portlet box grey-cascade">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-globe"></i>Shipped Orders
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="table-toolbar">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="btn-group">
                                    <a href='{{ path('_eezeecommerce_admin_orders_add') }}' id="sample_editable_1_new"
                                       class="btn green">
                                        Add New Order <i class="fa fa-plus"></i>
                                    </a>
                                </div>
                                <div class="btn-group pull-right">
                                    <a href='#' id="blockui_sample_2_2" class="btn btn-outline green shiporder">
                                        Ship Orders
                                    </a>
                                    <a href='#' id="blockui_sample_2_2" class="btn btn-outline red deleteorder">
                                        Delete Orders
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <table class="table table-striped table-responsive table-bordered table-hover order-column"
                           id="shipped_orders">
                        <thead>
                        <tr>
                            <th>
                                <input type="checkbox" class="group-checkable" data-set="#sample_1 .checkboxes" />
                            </th>
                            <th>
                                Order #
                            </th>
                            <th>
                                Name
                            </th>
                            <th>
                                Date
                            </th>
                            <th>
                                Shipped Date
                            </th>
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
            <!-- END EXAMPLE TABLE PORTLET-->
        </div>
    </div>
{% endblock content %}

{% block scripts %}
    {% javascripts
    '@eezeecommerceAdminBundle/Resources/public/js/datatable.js'
    '@eezeecommerceAdminBundle/Resources/public/vendor/datatables/datatables.min.js'
    '@eezeecommerceAdminBundle/Resources/public/vendor/datatables/plugins/bootstrap/datatables.bootstrap.js'
    '@eezeecommerceAdminBundle/Resources/public/js/table-datatables-managed.js'
    '@eezeecommerceAdminBundle/Resources/public/js/ui-blockui.min.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script>
        $(document).ready(function () {

            $('#shipped_orders').DataTable({
                "ajax": "{{ path("_eezeecommerce_admin_orders_index_shipped_data") }}",
                columnDefs: [
                    {targets: [0], visible: false},
                    {targets: '_all', visible: true}
                ]
            });

            $(".shiporder").on("click", function () {

                var array = [];

                $.each($(".checkboxes:checked"), function () {
                    array.push($(this).val());
                });
                if ((array).length > 0) {
                    var json = JSON.stringify(array);
                    var result = $.post("/admin/orders/batch/ship", {"json": json}, function (data) {
                        console.log(result);
                    });
                    location.reload();
                }
            });

            $(".deleteorder").on("click", function () {

                var array = [];

                $.each($(".checkboxes:checked"), function () {
                    array.push($(this).val());
                });
                if ((array).length > 0) {
                    var json = JSON.stringify(array);
                    var result = $.post("/admin/orders/batch/delete", {"json": json}, function (data) {
                        console.log(result);
                    });
                    location.reload();
                }
            });


        });
    </script>
{% endblock scripts %}