{% extends "eezeecommerceAdminBundle::layout.html.twig" %}

{% block title %}Staff Panel | View Abandoned Orders - Eezee Commerce Ltd Ecommerce Platform{% endblock title %}

{% set super_route = "orders" %}

{% block extrastylesheets %}
    {% stylesheets
    '@eezeecommerceAdminBundle/Resources/public/vendor/datatables/datatables.css' filter="?cssrewrite"
    '@eezeecommerceAdminBundle/Resources/public/vendor/datatables/plugins/bootstrap/datatables.bootstrap.css' filter="?cssrewrite" %}
    <link href="{{ asset_url }}" rel="stylesheet">
    {% endstylesheets %}
{% endblock extrastylesheets %}

{% block content %}
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="{{ path('_eezeecommerce_admin_homepage') }}">Dashboard</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <i class="fa fa-shopping-cart"></i>
                <a href="#">Abandoned Orders</a>
            </li>
        </ul>
    </div>
    <!-- BEGIN PAGE HEADER-->
    <h3 class="page-title">
        Abandoned Orders
    </h3>
    <!-- END PAGE HEADER-->
    <!-- BEGIN PAGE CONTENT-->
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN EXAMPLE TABLE PORTLET-->
            <div class="portlet box grey-cascade">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-globe"></i>Abandoned Orders
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="table-toolbar">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="btn-group">
                                    <a href='{{ path('_eezeecommerce_admin_orders_add') }}' id="sample_editable_1_new"
                                       class="btn green">
                                        Add New Order <i class="fa fa-plus"></i>
                                    </a>
                                </div>
                                <div class="btn-group pull-right">
                                    <a href='#' id="blockui_sample_2_2" class="btn btn-outline green shiporder">
                                        Ship Orders
                                    </a>
                                    <a href='#' id="blockui_sample_2_2" class="btn btn-outline red deleteorder">
                                        Delete Orders
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <table class="table table-striped table-bordered table-hover table-checkable order-column no-footer"
                           id="sample_1">
                        <thead>
                        <tr>
                            <th>
                                <input type="checkbox" class="group-checkable" data-set="#sample_1 .checkboxes" />
                            </th>
                            <th>
                                Flag
                            </th>
                            <th>
                                Order #
                            </th>
                            <th>
                                Name
                            </th>
                            <th>
                                Date
                            </th>
                            <th>
                                Status
                            </th>
                            <th>
                                Order Total
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for order in orders %}
                            <tr class="odd gradeX">
                                <td>
                                    <input type="checkbox" class="checkboxes" value="{{ order.id }}" />
                                </td>
                                <td
                                        {% if order.flag is defined and order.flag is not null and order.flag != "none" %}
                                            {% if order.flag == "green" %}
                                                style="background-color:#26C281 !important;"
                                            {% elseif order.flag == "blue" %}
                                                style="background-color:#3598DC !important;"
                                            {% elseif order.flag == "orange" %}
                                                style="background-color:#E87E04 !important;"
                                            {% elseif order.flag == "purple" %}
                                                style="background-color:#8E44AD !important;"
                                            {% elseif order.flag == "red" %}
                                                style="background-color:#E7505A !important;"
                                            {% elseif order.flag == "gray" %}
                                                style="background-color:#95A5A6 !important;"
                                            {% elseif order.flag == "yellow" %}
                                                style="background-color:#F3C200 !important;"

                                            {% endif %}
                                        {% endif %}
                                >
                                </td>
                                <td>
                                    <a href="{{ path("_eezeecommerce_admin_orders_details", {'id': order.id} ) }}">
                                        {% if settings.orderPrefix is not empty %}{{ settings.orderPrefix }}-{% endif %}{{ order.orderNumber }}{% if settings.orderSuffix is not empty %}-{{ settings.orderSuffix }}{% endif %}
                                    </a>
                                </td>
                                <td>
                                    {% if order.user is defined and order.user is not empty %}
                                        <a href="{{ path('_eezeecommerce_admin_customers_modify', {id: order.user.id}) }}">{{ order.billingAddress.nameFirst|capitalize }} {{ order.billingAddress.nameLast|capitalize }}</a>
                                    {% else %}
                                        {{ order.billingAddress.nameFirst|capitalize }} {{ order.billingAddress.nameLast|capitalize }}
                                    {% endif %}
                                </td>
                                <td>
                                    {{ order.OrderDate | date("d/m/Y \\: H:s") }}
                                </td>
                                <td class="center">
                                    {% set total = 0 %}
                                    {% if (order.payment | length) > 0 %}
                                        {% set flag = "Failed" %}

                                        {% for payment in order.payment %}
                                            {% if payment.status == "success" or payment.status == "captured" or payment.status == "APPROVED" %}
                                                {% set flag = "success" %}
                                                {% if payment.AMT is defined %}
                                                    {% set total = total + ((payment.AMT)| number_format(4,'.','')) %}
                                                {% elseif payment.PAYMENTREQUEST_0_AMT is defined %}
                                                    {% set total = total + ((payment.PAYMENTREQUEST_0_AMT)| number_format(4,'.','')) %}
                                                {% elseif payment.chargetotal is defined %}
                                                    {% set total = total + ((payment.chargetotal)| number_format(4,'.','')) %}
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                        {% if flag == "success" %}
                                            {% if total > order.total %}
                                                <span class="label label-sm label-warning">
                                                        Over-Paid
                                                    </span>
                                            {% elseif total == order.total %}
                                                <span class="label label-sm label-info">
                                                        Paid
                                                    </span>
                                            {% elseif total < order.total %}
                                                <span class="label label-sm label-warning">
                                                        Part-Paid
                                                    </span>
                                            {% endif %}
                                        {% else %}
                                            <span class="label label-sm label-danger">
                                                    Failed
                                                </span>
                                        {% endif %}
                                    {% else %}
                                        <span class="label label-sm label-default">
                                                Abandoned
                                            </span>
                                    {% endif %}
                                    &nbsp;
                                    {% if order.shipped == "1" %}
                                        <span class="label label-sm label-success">
                                                Shipped
                                            </span>
                                    {% elseif order.fulfilled == "1" %}
                                        <span class="label label-sm label-info">
                                                Fulfilled
                                            </span>
                                    {% endif %}
                                </td>
                                <td>
                                    {{ currencySymbol(order.currencyCode) }}{{ order.total| number_format(2,'.',',') }}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- END EXAMPLE TABLE PORTLET-->
        </div>
    </div>
{% endblock content %}

{% block scripts %}
    {% javascripts
    '@eezeecommerceAdminBundle/Resources/public/js/datatable.js'
    '@eezeecommerceAdminBundle/Resources/public/vendor/datatables/datatables.min.js'
    '@eezeecommerceAdminBundle/Resources/public/vendor/datatables/plugins/bootstrap/datatables.bootstrap.js'
    '@eezeecommerceAdminBundle/Resources/public/js/table-datatables-managed.js'
    '@eezeecommerceAdminBundle/Resources/public/js/ui-blockui.min.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script>
        $(document).ready(function () {

            $(".shiporder").on("click", function () {

                var array = [];

                $.each($(".checkboxes:checked"), function () {
                    array.push($(this).val());
                });
                if ((array).length > 0) {
                    var json = JSON.stringify(array);
                    var result = $.post("/admin/orders/batch/ship", {"json": json}, function (data) {
                        console.log(result);
                    });
                    location.reload();
                }
            });

            $(".deleteorder").on("click", function () {

                var array = [];

                $.each($(".checkboxes:checked"), function () {
                    array.push($(this).val());
                });
                if ((array).length > 0) {
                    var json = JSON.stringify(array);
                    var result = $.post("/admin/orders/batch/delete", {"json": json}, function (data) {
                        console.log(result);
                    });
                    location.reload();
                }
            });


        });
    </script>
{% endblock scripts %}