{% extends "eezeecommerceAdminBundle::layout.html.twig" %}

{% block title %}Staff Panel | Add Order - Eezee Commerce Ltd Ecommerce Platform{% endblock title %}

{% set super_route = "orders" %}

{% block content %}
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="{{ path('_eezeecommerce_admin_homepage') }}">Dashboard</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <i class="fa fa-shopping-cart"></i>
                <a href="{{ path('_eezeecommerce_admin_orders_index_completed') }}">Orders</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <i class="fa fa-plus"></i>
                <a href="#">Add New Order</a>
            </li>
        </ul>
    </div>
    <h3 class="page-title">
        Add New Order
    </h3>
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box grey-cascade">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-cogs"></i>Customer
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="input-group">
                                    <input class="form-control" type="text" placeholder="Search Customers..." />
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary" type="button">
                                            <i class="fa fa-search"></i> Search
                                        </button>
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-2 text-center">
                                OR
                            </div>
                            <div class="col-md-5 text-center">
                                <a href="#"><p>Click here to Add New Customer</p></a>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <form class="form-horizontal">
                                <div class="form-body">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-3">First Name</label>
                                                    <div class="col-md-9">
                                                        <input type="text" class="form-control" placeholder="John" disabled />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-3">Last Name</label>
                                                    <div class="col-md-9">
                                                        <input type="text" class="form-control" placeholder="Doe" disabled />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-3">Company Name</label>
                                                    <div class="col-md-9">
                                                        <input type="text" class="form-control" placeholder="John Doe Enterprise Ltd" disabled />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-3">ID</label>
                                                    <div class="col-md-9">
                                                        <input type="text" class="form-control" placeholder="1254" disabled />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <hr />
                        <div class="row">
                            <form class="form-horizontal">
                                <div class="form-body">
                                    <div class="col-md-12">
                                        <div class="col-md-6">
                                            <h4>Billing information</h4>
                                            <div class="form-group">
                                                <label class="control-label col-md-3">First Name</label>
                                                <div class="col-md-9">
                                                    <input type="text" class="form-control" placeholder="John" disabled />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-3">Last Name</label>
                                                <div class="col-md-9">
                                                    <input type="text" class="form-control" placeholder="Doe" disabled />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-3">Address 1</label>
                                                <div class="col-md-9">
                                                    <input type="text" class="form-control" placeholder="Doe" disabled />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-3">Address 2</label>
                                                <div class="col-md-9">
                                                    <input type="text" class="form-control" placeholder="Doe" disabled />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-3">City</label>
                                                <div class="col-md-9">
                                                    <input type="text" class="form-control" placeholder="Doe" disabled />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-3">Postcode</label>
                                                <div class="col-md-9">
                                                    <input type="text" class="form-control" placeholder="Doe" disabled />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-3">County</label>
                                                <div class="col-md-9">
                                                    <input type="text" class="form-control" placeholder="Doe" disabled />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-3">Country</label>
                                                <div class="col-md-9">
                                                    <input type="text" class="form-control" placeholder="Doe" disabled />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <h4>Shipping information <small>- Leave blank if same as billing</small></h4>
                                            <div class="form-group">
                                                <label class="control-label col-md-3">First Name</label>
                                                <div class="col-md-9">
                                                    <input type="text" class="form-control" placeholder="John" disabled />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-3">Last Name</label>
                                                <div class="col-md-9">
                                                    <input type="text" class="form-control" placeholder="Doe" disabled />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-3">Address 1</label>
                                                <div class="col-md-9">
                                                    <input type="text" class="form-control" placeholder="Doe" disabled />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-3">Address 2</label>
                                                <div class="col-md-9">
                                                    <input type="text" class="form-control" placeholder="Doe" disabled />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-3">City</label>
                                                <div class="col-md-9">
                                                    <input type="text" class="form-control" placeholder="Doe" disabled />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-3">Postcode</label>
                                                <div class="col-md-9">
                                                    <input type="text" class="form-control" placeholder="Doe" disabled />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-3">County</label>
                                                <div class="col-md-9">
                                                    <input type="text" class="form-control" placeholder="Doe" disabled />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-3">Country</label>
                                                <div class="col-md-9">
                                                    <input type="text" class="form-control" placeholder="Doe" disabled />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box grey-cascade">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-cogs"></i>Products
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="input-group">
                                    <input class="form-control" type="text" placeholder="Search Products..." />
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary" type="button">
                                            <i class="fa fa-search"></i> Search
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table table-striped table-bordered table-hover" id="sample_1">
                                    <thead>
                                        <tr>
                                            <th>
                                                Code
                                            </th>
                                            <th>
                                                Qty
                                            </th>
                                            <th>
                                                Product
                                            </th>
                                            <th>
                                                Variations / Components
                                            </th>
                                            <th>
                                                Base Price
                                            </th>
                                            <th>
                                                Cust Price
                                            </th>
                                            <th>
                                                Discount £
                                            </th>
                                            <th>
                                                Discount %
                                            </th>
                                            <th>
                                                Free Stock
                                            </th>
                                            <th>
                                                Alloc Stock
                                            </th>
                                            <th>

                                            </th>
                                            <th>

                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="odd gradeX">
                                            <td>
                                                EP001
                                            </td>
                                            <td>
                                                1
                                            </td>
                                            <td>
                                                1 Pint Pewter Tankard
                                            </td>
                                            <td>
                                                3 Available (opens model)
                                            </td>
                                            <td>
                                                £10.00
                                            </td>
                                            <td>
                                                $16.00
                                            </td>
                                            <td>
                                                £0.00
                                            </td>
                                            <td>
                                                0%
                                            </td>
                                            <td>
                                                1
                                            </td>
                                            <td>
                                                8
                                            </td>
                                            <td>
                                                <a class="edit" href="javascript:;">
                                                    Edit
                                                </a>
                                            </td>
                                            <td>
                                                <a class="edit" href="javascript:;">
                                                    Delete
                                                </a>
                                            </td>
                                        </tr>
                                        <tr class="odd gradeX">
                                            <td>
                                                EP001
                                            </td>
                                            <td>
                                                1
                                            </td>
                                            <td>
                                                1 Pint Pewter Tankard
                                            </td>
                                            <td>
                                                3 Available (opens model)
                                            </td>
                                            <td>
                                                £10.00
                                            </td>
                                            <td>
                                                $16.00
                                            </td>
                                            <td>
                                                £0.00
                                            </td>
                                            <td>
                                                0%
                                            </td>
                                            <td>
                                                1
                                            </td>
                                            <td>
                                                8
                                            </td>
                                            <td>
                                                <a class="edit" href="javascript:;">
                                                    Edit
                                                </a>
                                            </td>
                                            <td>
                                                <a class="edit" href="javascript:;">
                                                    Delete
                                                </a>
                                            </td>
                                        </tr>
                                        <tr class="odd gradeX">
                                            <td>
                                                EP001
                                            </td>
                                            <td>
                                                1
                                            </td>
                                            <td>
                                                1 Pint Pewter Tankard
                                            </td>
                                            <td>
                                                3 Available (opens model)
                                            </td>
                                            <td>
                                                £10.00
                                            </td>
                                            <td>
                                                $16.00
                                            </td>
                                            <td>
                                                £0.00
                                            </td>
                                            <td>
                                                0%
                                            </td>
                                            <td>
                                                1
                                            </td>
                                            <td>
                                                8
                                            </td>
                                            <td>
                                                <a class="edit" href="javascript:;">
                                                    Edit
                                                </a>
                                            </td>
                                            <td>
                                                <a class="edit" href="javascript:;">
                                                    Delete
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <form class="form-horizontal">
                                        <div class="form-body">
                                            <div class="form-group">
                                                <label class="control-label col-md-3">Weight / Vol weight (kg)</label>
                                                <div class="col-md-9">
                                                    <input type="text" class="form-control" placeholder="3.02 / 6.50" disabled />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-3">Postage Options</label>
                                                <div class="col-md-9">
                                                    <select class="form-control">
                                                        <option value="0">Royal Mail 1st Class</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-3">Postage Cost</label>
                                                <div class="col-md-9">
                                                    <input type="text" class="form-control" placeholder="£10.50" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-3">Internal / Admin Notes</label>
                                                <div class="col-md-9">
                                                    <textarea rows="1" class="form-control" /></textarea>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-3">Delivery Notes</label>
                                                <div class="col-md-9">
                                                    <textarea rows="1" class="form-control" /></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-md-6">
                                    <table class="table table-bordered table-striped table-hover">
                                        <tbody>
                                            <tr class="odd gradeX">
                                                <td>
                                                    <strong>Total GBP (USD):</strong>
                                                </td>
                                                <td>
                                                    <strong>£10.00</strong> ($16.00)
                                                </td>
                                            </tr>
                                            <tr class="odd gradeX">
                                                <td>
                                                    <strong>Total Discount GBP (USD):</strong>
                                                </td>
                                                <td>
                                                    <strong> -£10.00</strong> (-$16.00)
                                                </td>
                                            </tr>
                                            <tr class="odd gradeX">
                                                <td>
                                                    <strong>Total Tax/VAT @ 5% GBP (USD):</strong>
                                                </td>
                                                <td>
                                                    <strong> £10.00</strong> ($16.00)
                                                </td>
                                            </tr>
                                            <tr class="odd gradeX">
                                                <td>
                                                    <strong>Carriage GBP:</strong>
                                                </td>
                                                <td>
                                                    <strong>£10.00</strong> ($16.00)
                                                </td>
                                            </tr>
                                            <tr class="odd gradeX">
                                                <td>
                                                    <strong>Gross GBP</strong> (USD):
                                                </td>
                                                <td>
                                                    <strong>£10.00</strong> ($16.00)
                                                </td>
                                            </tr>
                                            <tr class="odd gradeX">
                                                <td>
                                                    <strong>Amount Due GBP</strong> (USD):
                                                </td>
                                                <td>
                                                    <strong>£20.00</strong> ($26.00)
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-cogs"></i>Process Order
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-6">
                                <button type="button" class="btn btn-lg btn-outline sbold grey-cascade center-block">
                                    <i class="fa fa-envelope"></i> Email Order Invoice to Customer</button>
                            </div>
                            <div class="col-md-6">
                                <button type="button" class="btn btn-lg btn-outline sbold grey-cascade center-block">
                                    <i class="fa fa-credit-card"></i> Enter Card Details</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-cogs"></i>Credit / Debit Card Processing
                    </div>
                </div>
                <div class="portlet-body form">
                    <form class="form-horizontal">
                        <div class="form-body">
                            <div class="form-body">
                                <div class="row">
                                    <div class="col-md-6 col-md-offset-3">
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Card Number</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" placeholder="Doe" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Start Date</label>
                                            <div class="col-md-3">
                                                <select class="form-control">
                                                    {% for i in 1..31 %}
                                                        <option value="{{i}}">{{i}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="col-md-3">
                                                <select class="form-control">
                                                    {% for i in 1..12 %}
                                                        <option value="{{i}}">{{i}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">End Date</label>
                                            <div class="col-md-3">
                                                <select class="form-control">
                                                    {% for i in 1..31 %}
                                                        <option value="{{i}}">{{i}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="col-md-3">
                                                <select class="form-control">
                                                    {% for i in 1..12 %}
                                                        <option value="{{i}}">{{i}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Security Code</label>
                                            <div class="col-md-3">
                                                <input type="text" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <a class="btn btn-lg btn-outline sbold green center-block">Process Payment</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block morejs %}
    {% javascripts 
        '@eezeecommerceAdminBundle/Resources/public/vendor/typeahead/typeahead.bundle.min.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock morejs %}

{% block extrastylesheets %}
    {% stylesheets
        '@eezeecommerceAdminBundle/Resources/public/vendor/typeahead/typeahead.css' filter="?cssrewrite"

    %}
    <link href="{{ asset_url }}" rel="stylesheet">
    {% endstylesheets %}
{% endblock extrastylesheets %}