{% extends "eezeecommerceAdminBundle::layout.html.twig" %}

{% block title %}Staff Panel | Order Details - Eezee Commerce Ltd Ecommerce Platform{% endblock title %}

{% set super_route = "orders" %}

{% block content %}
    {% if orders.deleted == 1 %}
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-danger text-center">
                    <strong>Order Deleted</strong> on: {{ orders.deletedTs|date("l jS F\, Y \- h\:ia") }}
                </div>
            </div>
        </div>
    {% endif %}
    {% if orders.shipped == 1 %}
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-info text-center">
                    <strong>Order Shipped</strong> on: {{ orders.shippedTs|date("l jS F\, Y \- h\:ia") }}
                </div>
            </div>
        </div>
    {% endif %}
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="{{ path('_eezeecommerce_admin_homepage') }}">Dashboard</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <i class="fa fa-shopping-cart"></i>
                <a href="{{ path('_eezeecommerce_admin_orders_index_completed') }}">Orders</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <i class="fa fa-check"></i>
                <a href="#">Order
                            #{% if settings.orderPrefix is not empty %}{{ settings.orderPrefix }}-{% endif %}{{ orders.orderNumber }}{% if settings.orderSuffix is not empty %}-{{ settings.orderSuffix }}{% endif %}
                </a>
            </li>
        </ul>
        <div class="page-toolbar">
            <div class="btn-group pull-right">
                <a href="#largeadd" data-toggle="modal" class="btn btn-fit-height btn-outline grey-cascade">
                    Add Staff Note <i class="fa fa-plus"></i>
                </a>
                <a class="btn btn-fit-height btn-outline grey-cascade dropdown-toggle" data-toggle="dropdown"
                   data-hover="dropdown" data-delay="1000" data-close-others="true">
                    Set Flag <i class="fa fa-angle-down"></i>
                </a>
                <ul class="dropdown-menu pull-right" role="menu">
                    <li>
                        <a href="{{ path('_eezeecommerce_admin_orders_flag', {"id": orders.id, "flag": "none"}) }}"><strong>None</strong></a>
                    </li>
                    <li>
                        <a href="{{ path('_eezeecommerce_admin_orders_flag', {"id": orders.id, "flag": "green"}) }}"
                           style="color:#FFF;background-color:#26C281;"><strong>Green</strong></a>
                    </li>
                    <li>
                        <a href="{{ path('_eezeecommerce_admin_orders_flag', {"id": orders.id, "flag": "blue"}) }}"
                           style="color:#FFF;background-color:#3598DC;"><strong>Blue</strong></a>
                    </li>
                    <li>
                        <a href="{{ path('_eezeecommerce_admin_orders_flag', {"id": orders.id, "flag": "orange"}) }}"
                           style="color:#FFF;background-color:#E87E04;"><strong>Orange</strong></a>
                    </li>
                    <li>
                        <a href="{{ path('_eezeecommerce_admin_orders_flag', {"id": orders.id, "flag": "purple"}) }}"
                           style="color:#FFF;background-color:#8E44AD;"><strong>Purple</strong></a>
                    </li>
                    <li>
                        <a href="{{ path('_eezeecommerce_admin_orders_flag', {"id": orders.id, "flag": "red"}) }}"
                           style="color:#FFF;background-color:#E7505A;"><strong>Red</strong></a>
                    </li>
                    <li>
                        <a href="{{ path('_eezeecommerce_admin_orders_flag', {"id": orders.id, "flag": "gray"}) }}"
                           style="color:#FFF;background-color:#95A5A6;"><strong>Grey</strong></a>
                    </li>
                    <li>
                        <a href="{{ path('_eezeecommerce_admin_orders_flag', {"id": orders.id, "flag": "yellow"}) }}"
                           style="color:#FFF;background-color:#F3C200;"><strong>Yellow</strong></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- BEGIN PAGE HEADER-->
    <h3 class="page-title">
        Order
        #{% if settings.orderPrefix is not empty %}{{ settings.orderPrefix }}-{% endif %}{{ orders.orderNumber }}{% if settings.orderSuffix is not empty %}-{{ settings.orderSuffix }}{% endif %}
        <small>{{ orders.orderDate|date("l jS F\, Y \- h\:ia") }}</small>
    </h3>
    <!-- END PAGE HEADER-->
    <!-- BEGIN PAGE CONTENT-->
    <div class="row">
    <div class="col-md-9">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet box grey-cascade">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-globe"></i>Order Items
                </div>
            </div>
            <div class="portlet-body">
                {% if orders.flag is defined and orders.flag is not null and orders.flag != "none" %}
                    {% if orders.flag == "green" %}
                        <div class="border-green-jungle text-center" style="padding:10px;border:2px solid #fff;">
                            <span class="font-green-jungle font-lg sbold">Order flagged Green</span>
                        </div>
                    {% elseif orders.flag == "blue" %}
                        <div class="border-blue text-center" style="padding:10px;border:2px solid #fff;">
                            <span class="font-blue font-lg sbold">Order flagged Blue</span>
                        </div>
                    {% elseif orders.flag == "orange" %}
                        <div class="border-yellow-gold text-center" style="padding:10px;border:2px solid #fff;">
                            <span class="font-yellow-gold font-lg sbold">Order flagged Orange</span>
                        </div>
                    {% elseif orders.flag == "purple" %}
                        <div class="border-purple text-center" style="padding:10px;border:2px solid #fff;">
                            <span class="font-purple font-lg sbold">Order flagged Purple</span>
                        </div>
                    {% elseif orders.flag == "red" %}
                        <div class="border-red text-center" style="padding:10px;border:2px solid #fff;">
                            <span class="font-red font-lg sbold">Order flagged Red</span>
                        </div>
                    {% elseif orders.flag == "gray" %}
                        <div class="border-grey-cascade text-center" style="padding:10px;border:2px solid #fff;">
                            <span class="font-grey-cascade font-lg sbold">Order flagged Grey</span>
                        </div>
                    {% elseif orders.flag == "yellow" %}
                        <div class="border-yellow-crusta text-center" style="padding:10px;border:2px solid #fff;">
                            <span class="font-yellow-crusta font-lg sbold">Order flagged Yellow</span>
                        </div>
                    {% endif %}
                {% endif %}

                <table class="table table-striped table-bordered table-hover" id="sample_1">
                    <thead>
                    <tr>
                        <th colspan="3">
                            <a href='{{ path("_eezeecommerce_admin_orders_invoice", {'id': orders.id} ) }}'
                               target='_blank' class="btn btn-outline green">View Invoice</a>
                            <a href='{{ path("_eezeecommerce_admin_orders_packingslip", {'id': orders.id} ) }}'
                               target='_blank' class="btn btn-outline green">View Packing Slip</a>
                            {% if orders.shipped == 1 %}
                                <a href='{{ path("_eezeecommerce_admin_orders_unship", {'id': orders.id} ) }}'
                                   class="btn btn-outline yellow-crusta">Unship Order</a>
                            {% else %}
                                <a href='{{ path("_eezeecommerce_admin_orders_ship", {'id': orders.id} ) }}'
                                   class="btn btn-outline green">Ship Order</a>
                            {% endif %}
                            <a href='{{ path("_eezeecommerce_admin_orders_email", {'id': orders.id} ) }}'
                               class="btn btn-outline green">Email Invoice</a>
                            <a href='{{ path("_eezeecommerce_admin_orders_delete", {'id': orders.id} ) }}'
                               class="btn btn-outline red">Delete Order</a>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for lines in orders.orderLines %}
                    {% if lines.variants is defined %}
                    <tr class="odd gradeX">
                        <td>
                            <i class="fa fa-check"></i>
                        </td>
                        <td>
                            {{ lines.qty }} x <strong>{{ lines.variants.stockCode }}</strong><br />
                                            SKU: {{ lines.variants.sku }} | Bay: {{ lines.variants.bayNumber }}
                        </td>
                        <td>
                            {{ currencySymbol(orders.currencyCode) }}{{ (lines.variants.basePrice * lines.qty) |number_format(2, '.', ',') }}
                        </td>
                    </tr>
                    {% else %}
                    <tr class="odd gradeX">
                        <td>
                            <i class="fa fa-check"></i>
                        </td>
                        <td>
                            {{ lines.qty }} x <strong>{{ lines.product.stockCode }}</strong><br />
                                            SKU: {{ lines.product.sku }} | Bay: {{ lines.product.bayNumber }}
                        </td>
                        <td>
                            {{ currencySymbol(orders.currencyCode) }}{{ (lines.totalAmount)|number_format(2, '.', ',') }}
                        </td>
                        {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="well">
                            <div class="row static-info">
                                <div class="col-md-4 name">
                                    Weight / Vol Weight:
                                </div>
                                <div class="col-md-7 value">
                                    {{ orders.totalWeight|number_format(2, '.', ',') }}
                                    / {{ orders.totalVolWeight|number_format(2, '.', ',') }}
                                </div>
                            </div>
                            <div class="row static-info">
                                <div class="col-md-4 name">
                                    Courier:
                                </div>
                                <div class="col-md-7 value">
                                    {{ orders.courierName }}
                                </div>
                            </div>
                            <div class="row static-info">
                                <div class="col-md-4 name">
                                    Courier Service:
                                </div>
                                <div class="col-md-7 value">
                                    {{ orders.courierService }}
                                </div>
                            </div>
                            <div class="row static-info">
                                <div class="col-md-4 name">
                                    Est. Delivery:
                                </div>
                                <div class="col-md-7 value">
                                    {{ orders.estDelivery }}
                                </div>
                            </div>
                            <div class="row static-info">
                                <div class="col-md-4 name">
                                    Dispatch Status:
                                </div>
                                <div class="col-md-7 value">
                                    {% set min = orders.estDelivery|split(' - ') %}
                                    {% set maximum = 0 %}
                                    {% set today = "today"|date("U") %}
                                    {% for m in min %}
                                        {% if loop.last %}
                                            {% set maximum = m %}
                                        {% endif %}
                                    {% endfor %}
                                    {% set maximum = maximum|date_modify("-" ~ orders.courierDeliveryMin ~ " day")|date("U") %}

                                    {% if orders.shipped == 0 %}

                                        {% if today == maximum %}
                                            <span class="label label-sm label-warning">Order must leave today</span>
                                        {% elseif today < maximum %}
                                            {% set difference = date(maximum).diff(date(today)) %}
                                            <span class="label label-sm label-info">Order must leave in {{ difference.days }}
                                                                                    day(s)</span>
                                        {% elseif today > maximum %}
                                            {% set difference = date(today).diff(date(maximum)) %}
                                            <span class="label label-sm label-danger">Order late by {{ difference.days }}
                                                                                      day(s)</span>
                                        {% endif %}

                                    {% else %}
                                        {% set shippedTs = orders.shippedTs|date('U') %}

                                        {% if shippedTs == maximum %}
                                            <span class="font-green-jungle sbold">Order dispatched on-time</span>
                                        {% elseif shippedTs < maximum %}
                                            {% set difference = date(maximum).diff(date(shippedTs)) %}
                                            <span class="font-green-jungle sbold">Order dispatched on-time</span>
                                        {% elseif shippedTs > maximum %}
                                            {% set difference = date(shippedTs).diff(date(maximum)) %}
                                            {% if difference.days == 0 %}
                                                <span class="font-green-jungle sbold">Order dispatched on-time</span>
                                            {% else %}
                                                <span class="font-red sbold">Order was late by {{ difference.days }}
                                                                             day(s)</span>
                                            {% endif %}
                                        {% endif %}

                                    {% endif %}

                                </div>
                            </div>
                            <div class="row static-info">
                                <div class="col-md-4 name">
                                    <br />
                                </div>
                                <div class="col-md-7 value">
                                    <br />
                                </div>
                            </div>
                            <div class="row static-info">
                                <div class="col-md-4 name">
                                    <br />
                                </div>
                                <div class="col-md-7 value">
                                    <br />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="well">
                            <div class="row static-info align-reverse">
                                <div class="col-md-8 name">
                                    Subtotal:
                                </div>
                                <div class="col-md-4 value">
                                    {{ currencySymbol(orders.currencyCode) }}{{ orders.subtotal|number_format(2, '.', ',') }} {{ orders.currencyCode }}
                                    {% if orders.currencyCode != settings.defaultCurrency.currencyCode %}
                                        <small>
                                            (
                                            {{ currencySymbol(settings.defaultCurrency.currencyCode) }}{{ (orders.subtotal / orders.exchangeRate?:1)|number_format(2, '.', ',') }} {{ settings.defaultCurrency.currencyCode }}
                                            )
                                        </small>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row static-info align-reverse">
                                <div class="col-md-8 name">
                                    Discount:
                                </div>
                                <div class="col-md-4 value">
                                    -{{ currencySymbol(orders.currencyCode) }}{{ orders.discountTotal|number_format(2, '.', ',') }} {{ orders.currencyCode }}
                                    {% if orders.currencyCode != settings.defaultCurrency.currencyCode %}
                                        <small>
                                            (
                                            {{ currencySymbol(settings.defaultCurrency.currencyCode) }}{{ (orders.discountTotal / orders.exchangeRate)|number_format(2, '.', ',') }} {{ settings.defaultCurrency.currencyCode }}
                                            )
                                        </small>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row static-info align-reverse">
                                <div class="col-md-8 name">
                                    Tax/VAT:
                                </div>
                                <div class="col-md-4 value">
                                    {{ currencySymbol(orders.currencyCode) }}{{ orders.taxTotal|number_format(2, '.', ',') }} {{ orders.currencyCode }}
                                    {% if orders.currencyCode != settings.defaultCurrency.currencyCode %}
                                        <small>
                                            (
                                            {{ currencySymbol(settings.defaultCurrency.currencyCode) }}{{ (orders.taxTotal / orders.exchangeRate)|number_format(2, '.', ',') }} {{ settings.defaultCurrency.currencyCode }}
                                            )
                                        </small>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row static-info align-reverse">
                                <div class="col-md-8 name">
                                    Carriage:
                                </div>
                                <div class="col-md-4 value">
                                    {{ currencySymbol(orders.currencyCode) }}{{ orders.shippingTotal|number_format(2, '.', ',') }} {{ orders.currencyCode }}
                                    {% if orders.currencyCode != settings.defaultCurrency.currencyCode %}
                                        <small>
                                            (
                                            {{ currencySymbol(settings.defaultCurrency.currencyCode) }}{{ (orders.shippingTotal / orders.exchangeRate)|number_format(2, '.', ',') }} {{ settings.defaultCurrency.currencyCode }}
                                            )
                                        </small>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row static-info align-reverse">
                                <div class="col-md-8 name">
                                    Order Total:
                                </div>
                                <div class="col-md-4 value">
                                    {{ currencySymbol(orders.currencyCode) }}{{ orders.total|number_format(2, '.', ',') }} {{ orders.currencyCode }}
                                    {% if orders.currencyCode != settings.defaultCurrency.currencyCode %}
                                        <small>
                                            (
                                            {{ currencySymbol(settings.defaultCurrency..firstcurrencyCode) }}{{ (orders.total / orders.exchangeRate)|number_format(2, '.', ',') }} {{ settings.defaultCurrency.currencyCode }}
                                            )
                                        </small>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row static-info align-reverse">
                                <div class="col-md-8 name">
                                    Paid Total:
                                </div>
                                <div class="col-md-4 value">
                                    {% set total = 0 %}
                                    {% for payment in orders.payment %}
                                        {% if payment.status == "success" or payment.status == "captured" or payment.status == "APPROVED" %}
                                            {% set flag = "success" %}
                                            {% if payment.AMT is defined %}
                                                {% set total = total + ((payment.AMT)| number_format(4,'.','')) %}
                                            {% elseif payment.PAYMENTREQUEST_0_AMT is defined %}
                                                {% set total = total + ((payment.PAYMENTREQUEST_0_AMT)| number_format(4,'.','')) %}
                                            {% elseif payment.chargetotal is defined %}
                                                {% set total = total + ((payment.chargetotal)| number_format(4,'.','')) %}
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                    {{ currencySymbol(orders.currencyCode) }}{{ total|number_format(2, '.', ',') }} {{ orders.currencyCode }}
                                    {% if orders.currencyCode != settings.defaultCurrency.currencyCode %}
                                        <small>
                                            (
                                            {{ currencySymbol(settings.defaultCurrency.currencyCode) }}{{ (total / orders.exchangeRate)|number_format(2, '.', ',') }} {{ settings.defaultCurrency.currencyCode }}
                                            )
                                        </small>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row static-info align-reverse" style="border-top:solid 1px #e7ecf1;">
                                <div class="col-md-8 name">
                                    Outstanding Total:
                                </div>
                                <div class="col-md-4 value">
                                    {% set outstanding = orders.total - total %}
                                    {% if outstanding > 0 %}
                                        <span class="font-yellow-gold">{{ currencySymbol(orders.currencyCode) }}{{ outstanding |number_format(2, '.', ',') }} {{ orders.currencyCode }}</span>
                                    {% elseif outstanding < 0 %}
                                        <span class="font-red">{{ currencySymbol(orders.currencyCode) }}{{ outstanding |number_format(2, '.', ',') }} {{ orders.currencyCode }}</span>
                                    {% else %}
                                        {{ currencySymbol(orders.currencyCode) }}{{ outstanding |number_format(2, '.', ',') }} {{ orders.currencyCode }}
                                    {% endif %}
                                    {% if orders.currencyCode != settings.defaultCurrency.currencyCode %}
                                        <small>
                                            (
                                            {{ currencySymbol(settings.defaultCurrency.currencyCode) }}{{ (orders.total / orders.exchangeRate)|number_format(2, '.', ',') }} {{ settings.defaultCurrency.currencyCode }}
                                            )
                                        </small>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
        <div class="clearfix"></div>
        {% if orders.notes is defined and orders.notes is not empty %}
            <div class="portlet box grey-cascade">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-globe"></i>Delivery Notes
                    </div>
                </div>
                <div class="portlet-body">
                    <p>{{ orders.notes }}</p>
                </div>
            </div>
        {% endif %}
        <h3>Order Timeline</h3>
        <div class="timeline">
            {% if orders.shipped == 1 %}
                <div class="timeline-item">
                    <div class="timeline-badge">
                        <div class="timeline-icon">
                            <i class="icon-check font-green-haze"></i>
                        </div>
                    </div>
                    <div class="timeline-body">
                        <div class="timeline-body-arrow">
                        </div>
                        <div class="timeline-body-head">
                            <div class="timeline-body-head-caption">
                                <span class="timeline-body-alerttitle font-green-haze">Order Shipped</span>
                                <span class="timeline-body-time font-grey-cascade">at {{ orders.shippedTs|date("jS M H\\:i") }}</span>
                            </div>
                        </div>
                        <div class="timeline-body-content">
                                <span class="font-grey-cascade">
                                    The customers order has been marked as <span class="font-green-haze"><strong>Shipped.</strong></span>
                                </span>
                        </div>
                    </div>
                </div>
            {% endif %}
            <!--
            <div class="timeline-item">
                <div class="timeline-badge">
                    <div class="timeline-icon">
                        <i class="icon-basket-loaded font-green-haze"></i>
                    </div>
                </div>
                <div class="timeline-body">
                    <div class="timeline-body-arrow">
                    </div>
                    <div class="timeline-body-head">
                        <div class="timeline-body-head-caption">
                            <span class="timeline-body-alerttitle font-green-haze">All items fulfilled</span>
                            <span class="timeline-body-time font-grey-cascade">at 11:01 PM</span>
                        </div>
                    </div>
                    <div class="timeline-body-content">
                        <span class="font-grey-cascade">
                            All items have been marked as  <span class="font-green-haze"><strong>Fulfilled.</strong></span>
                        </span>
                    </div>
                </div>
            </div>
            -->
            {% if orders.payment|length < 1 %}
                <div class="timeline-item">
                    <div class="timeline-badge">
                        <div class="timeline-icon">
                            <i class="icon-user-unfollow font-red-soft"></i>
                        </div>
                    </div>
                    <div class="timeline-body">
                        <div class="timeline-body-arrow">
                        </div>
                        <div class="timeline-body-head">
                            <div class="timeline-body-head-caption">
                                <span class="timeline-body-alerttitle font-red-soft">Payment Abandoned</span>
                                <span class="timeline-body-time font-grey-cascade">&nbsp;</span>
                            </div>
                        </div>
                        <div class="timeline-body-content">
                                <span class="font-grey-cascade">
                                    The customer abandoned their cart of <span
                                            class="font-red-soft"><strong>{{ currencySymbol(orders.currencyCode) }}{{ orders.total|number_format(2, '.', ',') }}
                                            {{ orders.currencyCode }}</strong></span> at the checkout page.
                                </span>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if orders.payment|length > 0 %}
                {% for payment in orders.payment %}
                    {% if payment.status != "success" and payment.status != "captured" %}
                        <div class="timeline-item">
                            <div class="timeline-badge">
                                <div class="timeline-icon">
                                    <i class="icon-close font-red-soft"></i>
                                </div>
                            </div>
                            <div class="timeline-body">
                                <div class="timeline-body-arrow">
                                </div>
                                <div class="timeline-body-head">
                                    <div class="timeline-body-head-caption">
                                        <span class="timeline-body-alerttitle font-red-soft">Payment Failed</span>
                                        <span class="timeline-body-time font-grey-cascade">at {{ payment.ts|date("jS M H\\:i") }}</span>
                                    </div>
                                </div>
                                <div class="timeline-body-content">
                                        <span class="font-grey-cascade">
                                            {% if payment.L_ERRORCODE0 is defined %}
                                                Payment failed with the following error code: {{ payment.L_ERRORCODE0 }} -
                                                {{ payment.L_LONGMESSAGE0 }}
                                            {% elseif payment.RESPMSG is defined %}
                                                Payment failed with the following message: {{ payment.RESPMSG }}
                                            {% elseif payment.PAYMENTREQUESTINFO_0_ERRORCODE is defined %}
                                                {% if payment.PAYMENTREQUESTINFO_0_ERRORCODE == "0" %}
                                                    Customer exited page or cancelled payment on Paypal checkout.
                                                {% else %}
                                                    Payment failed with the following message: {{ payment.PAYMENTREQUESTINFO_0_ERRORCODE }}
                                                {% endif %}
                                            {% else %}
                                                Payment failed for an unknown reason. Please contact support.
                                            {% endif %}
                                        </span>
                                </div>
                            </div>
                        </div>
                    {% elseif payment.status == "success" or payment.status == "captured" %}
                        <div class="timeline-item">
                            <div class="timeline-badge">
                                <div class="timeline-icon">
                                    <i class="icon-user-following font-green-haze"></i>
                                </div>
                            </div>
                            <div class="timeline-body">
                                <div class="timeline-body-arrow">
                                </div>
                                <div class="timeline-body-head">
                                    <div class="timeline-body-head-caption">
                                        <span class="timeline-body-alerttitle font-green-haze">Payment Recieved</span>
                                        <span class="timeline-body-time font-grey-cascade">at {{ payment.ts|date("jS M H\\:i") }}</span>
                                    </div>
                                </div>
                                <div class="timeline-body-content">
                                        <span class="font-grey-cascade">
                                            The customer sucessfully paid <span class="font-green-haze"><strong>
                                                    {% if payment.PAYMENTREQUEST_0_AMT is defined %}
                                                        {{ currencySymbol(orders.currencyCode) }}{{ payment.PAYMENTREQUEST_0_AMT|number_format(2, '.', ',') }} {{ orders.currencyCode }}
                                                    {% elseif payment.AMT is defined %}
                                                        {{ currencySymbol(orders.currencyCode) }}{{ payment.AMT|number_format(2, '.', ',') }} {{ orders.currencyCode }}
                                                    {% endif %}
                                                </strong></span>
                                        </span>
                                </div>
                            </div>
                        </div>
                        <div class="timeline-item">
                            <div class="timeline-badge">
                                <div class="timeline-icon">
                                    <i class="icon-envelope"></i>
                                </div>
                            </div>
                            <div class="timeline-body">
                                <div class="timeline-body-arrow">
                                </div>
                                <div class="timeline-body-head">
                                    <div class="timeline-body-head-caption">
                                        <span class="timeline-body-alerttitle">Customer Emailed</span>
                                        <span class="timeline-body-time font-grey-cascade">at {{ payment.ts|date("jS M H\\:i") }}</span>
                                    </div>
                                </div>
                                <div class="timeline-body-content">
                                        <span class="font-grey-cascade">
                                            Customer was emailed sucessfully.
                                        </span>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
            <div class="timeline-item">
                <div class="timeline-badge">
                    <div class="timeline-icon">
                        <i class="icon-present"></i>
                    </div>
                </div>
                <div class="timeline-body">
                    <div class="timeline-body-arrow">
                    </div>
                    <div class="timeline-body-head">
                        <div class="timeline-body-head-caption">
                            <span class="timeline-body-alerttitle">Order Recieved</span>
                            <span class="timeline-body-time font-grey-cascade">at {{ orders.orderDate|date("jS M H\\:i") }}</span>
                        </div>
                    </div>
                    <div class="timeline-body-content">
                            <span class="font-grey-cascade">
                                {% if orders.user is not empty %}
                                    Customer checked out with username: <a
                                        href="{{ path("_eezeecommerce_admin_customers_modify", {"id": orders.user.id }) }}">{{ orders.user.username }}</a>
                                {% else %}
                                    Customer checked out as guest.
                                {% endif %}
                            </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">

        {% if orders.orderNotes|length > 0 %}
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-envelope"></i>Staff Notes
                </div>
            </div>
            <div class="portlet-body">
                <a href="#large" data-toggle="modal">
                    {{ orders.orderNotes|length }} notes
                </a>
            </div>

            <div class="modal fade bs-modal-lg" id="large" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                            <h4 class="modal-title">Staff Notes
                                <small> - (Only staff can see these)</small>
                            </h4>
                        </div>
                        <div class="modal-body">
                            <div class="general-item-list">
                                {% for note in orders.orderNotes %}
                                    <div class="item">
                                        <div class="item-head">
                                            <div class="item-details">
                                                <span class="item-name">{{ note.user|capitalize }}</span>
                                                <span class="item label"
                                                      style="color:#C0C9CC;">
                                                    {{ note.ts|date('D dS M \- h\:ia') }}
                                                </span>
                                            </div>
                                        </div>
                                        <div class="item-body">
                                            {{ note.message|nl2br }}
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn dark btn-outline" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
        </div>
        {% endif %}
        <div class="modal fade bs-modal-lg" id="largeadd" tabindex="-1" role="dialog" aria-hidden="true">
            <form enctype="multipart/form-data" method="POST" name="addnote"
                  action="{{ path('_eezeecommerce_admin_orders_note_add', {"id": orders.id }) }}">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                            <h4 class="modal-title">Add Staff Notes</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <label class="control-label">
                                            Subject
                                        </label>
                                    </div>
                                    <div class="col-md-8">
                                        <input type="text" name='notesubject' class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <label class="control-label">
                                            Message
                                        </label>
                                    </div>
                                    <div class="col-md-8">
                                        <textarea rows="4" name='notemessage' class="form-control"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-outline green">Save</button>
                            <button type="button" class="btn dark btn-outline" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
            </form>
            <!-- /.modal-dialog -->
        </div>

        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-user"></i>Customer Information
                </div>
            </div>
            <div class="portlet-body">
                <h3 class="text-center" style="margin-top:0px;">
                    {% if orders.user is not empty %}
                        <a
                                href="{{ path("_eezeecommerce_admin_customers_modify", {"id": orders.user.id }) }}">{{ orders.user.username }}
                        </a>
                    {% else %}
                        {{ orders.billingAddress.nameFirst|title }} {{ orders.billingAddress.nameLast|title }}
                    {% endif %}
                </h3>
                <hr />
                <h4>
                    Billing Information
                </h4>
                <p>
                    <i class="fa fa-phone"></i> {{ orders.billingAddress.contactPhone }} <br />
                    <i class="fa fa-envelope"></i> <a
                            href="mailto:{{ orders.billingAddress.contactEmail }}">{{ orders.billingAddress.contactEmail }}</a>
                    <br /><br />

                    {{ orders.billingAddress.nameFirst|title }} {{ orders.billingAddress.nameLast|title }}<br />
                    {{ orders.billingAddress.address1|title }}, <br />
                    {% if orders.billingAddress.address2 is not empty %}
                        {{ orders.billingAddress.address2|title }}, <br />
                    {% endif %}
                    {{ orders.billingAddress.city|title }}, <br />
                    {{ orders.billingAddress.county|title }}, <br />
                    {{ orders.billingAddress.postcode|upper }} <br />
                    {{ orders.billingAddress.country.name }}</p>
                <hr />
                <h4>
                    Shipping Information
                </h4>
                <p>
                    <i class="fa fa-phone"></i> {{ orders.shippingAddress.contactPhone }} <br />
                    <i class="fa fa-envelope"></i> <a
                            href="mailto:{{ orders.shippingAddress.contactEmail }}">{{ orders.shippingAddress.contactEmail }}</a>
                    <br /><br />

                    {{ orders.shippingAddress.nameFirst|title }} {{ orders.shippingAddress.nameLast|title }}<br />
                    {{ orders.shippingAddress.address1|title }}, <br />
                    {% if orders.shippingAddress.address2 is not empty %}
                        {{ orders.shippingAddress.address2|title }}, <br />
                    {% endif %}
                    {{ orders.shippingAddress.city|title }}, <br />
                    {{ orders.shippingAddress.county|title }}, <br />
                    {{ orders.shippingAddress.postcode|upper }} <br />
                    {{ orders.shippingAddress.country.name }}</p>
            </div>
        </div>
    </div>
{% endblock content %}